.button-icons {
  height: 1.9em;
  width: 1.9em;
  filter: invert(42%) sepia(65%) saturate(2055%) hue-rotate(310deg) brightness(100%) contrast(98%);
}
.bi-record {
  // height: 2.2em;
  // width: 2.2em;
  margin: 5px 0px 0px 0px;
  // filter: invert(69%) sepia(43%) saturate(437%) hue-rotate(103deg) brightness(91%) contrast(89%);
}
.bi-profile {
  // height: 2.2em;
  // width: 2.2em;
  margin: 7px 0px 0px 0px;
}
.bi-explore-p,
.bi-social-p {
  height: 2.2em;
  width: 2.2em;
  margin: 7px 0px 0px 0px;
}
.bi-profile-o {
  height: 2.2em;
  width: 2.2em;
  margin: 8px 0px 0px 0px;
}
.social-icons {
  height: 1.5em;
  width: 1.5em;
  filter: invert(42%) sepia(65%) saturate(2055%) hue-rotate(310deg) brightness(100%) contrast(98%);
}
.home-record {
    height: 2.2em;
    width: 2.2em;
    filter: invert(80%) sepia(14%) saturate(1272%) hue-rotate(111deg) brightness(96%) contrast(89%);
}
.follow {
  font-size: 2.3em;
}
.heart {
  height: 1.7em;
   width: 1.7em;
}
.bi-play {
  margin-left: 3px;
}
.edit {
  height: 1.9em;
  width: 1.9em;
}
.logout {
  height: 1.7em;
  width: 1.7em;
}
.follow-social {
  font-size: 2em;
}
.si-send {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}