footer {
    height: 28%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    // @include flexCenter(20%, 375px, 0px, space-between, center, column);
    // position: fixed;
    // bottom: 0;
    // background: linear-gradient(90deg, #ec66b7, #40bdac);

    .social-buttons {
        @include flexCenter(63%, 100%, 0px, center, stretch, row);
        position: absolute;
        background: linear-gradient(153deg, #747474 0%, #4f4f4f 100%);

        .social-list {
            @include flexCenter(80%, 100%, 0px, center, center, row);
            border-top: 5px solid #787878;
            box-shadow: inset 0px 3px 3px #464646;
            
            .two-btn-container {
                @include flexCenter(80px, 120px, 10px, space-evenly, center, row);
                box-shadow: inset 3px 3px 5px #333333, inset -3px -3px 3px 0px #a2a2a2;
                position: absolute;
                background: linear-gradient(
                    153deg
                    , #7f7f7f 0%, #4f4f4f 100%);

                .individual-container {
                    @include flexCenter(83%, 41%, 6px, center, center, column);
                    box-shadow: 3px 3px 5px #414141, -2px -2px 3px 0px #a4a4a4;
                    
                    .individual-btn {
                        @include flexCenter(38px, 38px, 50px, center, center, row);
                        position: relative;
                        color: #ec6aa0;
                        list-style-type: none;
                        margin-top: 5px;
                        box-shadow: 2px 2px 3px #3e3e3e, -2px -2px 3px #b7b6b6;
                        
                        &:active {
                            box-shadow: inset 2px 2px 3px #3d3f3f, 
                                        inset -2px -2px 3px #989898;
                        }
                        
                        .likes-number-container {
                            @include flexCenter(30px, 30px, 100%, center, center, row);
    
                            position: absolute;
                            top: -20%;
                            left: 50%;
                            background: none;
    
                            p {
                                font-size: 14px;
                                color: white;
                            }
                        }
                    }

                    .individual-text {
                        height: 10px;
                        margin-top: 3px;
    
                        p {
                            font-size: 10px;
                            // font-weight: bold;
                            color: #e0bbbb;
                        }
                    }
                }
            }
            .tbc-left {
                top: 13px;
                left: 10px
            }
            .tbc-right {
                top: 13px;
                right: 10px;
            }

            .individual-container-pic {
                @include flexCenter(110px, 110px, 100%, center, center, column);
                position: absolute;
                right: 35%;
                top: 3px;

                .individual-btn-prof {
                    @include flexCenter(83%, 83%, 50px, center, center, row);
                    box-shadow: inset 2px 2px 3px #333333, inset -2px -2px 3px 0px #979797;

                    .individual-profile-pic {
                        @include flexCenter(85%, 85%, 50px, center, center, row);
                        background-size: cover;
                        overflow: hidden;
                        background-position: center;
                        box-shadow: 2px 2px 3px #3c3c3c, -2px -2px 2px #979696;
                        
                        .prof-pic {
                            height: 85%;
                            width: 85%;
                            border-radius: 100%;
                            border: 2px solid #e24f8c;
                        }
                    }
                }
            }
        }
    }

    .nav-buttons {
        // width: 100%;
        height: 48%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(0deg, #dfdfdf 0%, #ecf0f3 100%);
        border-radius: 40px 40px 0px 0px;
        box-shadow: 0px -5px 20px 8px #3a3a3a;
        position: absolute;
        bottom: 0;
        // background: $lightgrayBg;
        // border-top: 1px solid #a9a9a9;
        // box-shadow: inset 1px 5px 4px #ffffff;

        .nav-list {
            @include flexCenter(80px, 92%, 50px, center, center, row);
            box-shadow: 8px 8px 10px 0px #adadad, -3px -3px 9px #ffffff;
            border: 1px solid #d1d1d1;
            background: #dddddd;

            .nav-list-inner {
                @include flexCenter(88%, 96%, 55px, space-evenly, center, row);
                box-shadow: inset 2px 2px 3px 0px #9c9c9c, inset -2px -2px 3px #ffffff;

                .nav-buttons-containers {
                    @include flexCenter(52px, 72px, 10px, space-around, center, column);
                    box-shadow: 2px 2px 5px #888888, -3px -3px 3px #ffffff;

                    .nav-buttons-rim {
                        @include flexCenter(45px, 45px, 50px, center, center, row);
                        box-shadow: inset 2px 2px 3px 0px #908d8d, inset -2px -2px 3px #ffffff;

                        .nav-buttons-outset {
                            @include flexCenter(75%, 75%, 50%, center, center, row);
                            box-shadow: 2px 2px 3px 0px #929292, -2px -2px 3px #ffffff;

                            .nav-buttons-inset {
                                @include flexCenter(70%, 70%, 50%, center, center, row);

                                img {
                                    height: 1.5em;
                                    width: 1.5em;
                                }
                            }
                        }
                    }

                    .button-title-container {
                        @include flexCenter(15%, 100%, 0px, center, center, column);
                        font-size: 14px;
                        color: #686a6b;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

/* ------------------------ Profile page fixed footer --------------------------- */

  .profile-container {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .edit-profile-button:active {
    box-shadow: inset 2px 2px 3px #3d3f3f, inset -2px -2px 3px #989898;
  }
@keyframes animatedOutset {
    from {
        box-shadow: 2px 2px 4px 0px #b0b1b3, -2px -2px 3px #ffffff;
    }
    to {
        box-shadow: inset 2px 2px 3px 0px #b0b1b3, 
        inset -2px -2px 3px #ffffff;
    }
}
@keyframes opacityToOne {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeOutText {
    0% {
        opacity: 1;
        width: initial;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        width: 0;
    }
}
@keyframes moveBtnsLeft {
    0% {
        left: 0px;
    }
    100% {
        left: -60px;
    }
}
@keyframes popOutBtns {
    0% {
        width: 30px;
        border-radius: 8px;
        box-shadow: 0px 0px 0px #686a6b, 0px 0px 0px #686a6b;
        right: 0px;
    }
    100% {
        width: 195px;
        border-radius: 30px 15px 15px 30px;
        box-shadow: inset 2px 2px 3px #3d3f3f, inset -2px -2px 3px #9e9e9e;
        right: -51px;
    }
}

@mixin menuPopout() {
    @keyframes #{$name} {
        from {
            opacity: $opacity;
            opacity: $opacity2;
            width: $width;
            left: $width2;
            right: $right;
            border-radius: $borderRadius;
        }
        to {
            opacity: $opacityX;
            opacity: $opacity2X;
            width: $widthX;
            left: $width2X;
            right: $rightX;
            border-radius: $borderRadiusX;
        }
    }
}