@keyframes followInset {
  0% {
    box-shadow: 3px 3px 5px #3d3f3f, -2px -2px 3px #939597;
  }
  100% {
    box-shadow: inset 3px 3px 3px #3d3f3f, inset -2px -2px 3px #939597;
  }
}
nav {
  @include flexCenter(0px, 100%, 0px, flex-end, center, row);
  background: linear-gradient(228deg, rgb(149, 149, 149) 0%, rgb(205, 205, 205) 100%);
  border-bottom: 5px solid #a6a6a6;
  box-shadow: inset -1px -3px 5px 0px #c4c4c4;

  .menu {
    @include flexCenter(93%, 79%, 5px 5px 30px 30px, space-evenly, center, column);
    flex-wrap: wrap;
    margin-right: 2%;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    box-shadow: inset 3px 3px 4px #6b6b6b, inset -3px -3px 4px #dcdcdc;
                
    .menu-route {
      @include flexCenter(33%, 50%, none, center, center, row);
      opacity: var(--menuOpacity);

      .menu-outset {
        @include flexCenter(82%, 55%, 100%, center, center, row);

        .menu-inset {
          @include flexCenter(77%, 77%, 100%, center, center, row);

          &:active {
            box-shadow: inset 2px 2px 3px #484b4c, inset -2px -2px 3px #9fa2a4 !important;
            background: linear-gradient(315deg, #d9dada, #919292) !important;
          }

          a {
            text-decoration: none;
            font-weight: bold;
            font-size: .8em;
          }
        } 
      }
    }
  }
}
// .hamburger-button {
//   height: 60px;
//   width: 60px;
//   position: fixed;
//   top: 1px;
//   z-index: 99;
//   background: rgba(255, 255, 255, 0);

//   div {
//     display: block;
//     width: 25px;
//     height: 5px;
//     margin: 4px;
//     position: relative;
//     background: #ec6aa0;
//     border-radius: 3px;
//     box-shadow: inset 1px 1px 2px #313232, 
//                 inset -1px -1px 1px #aaacad;
//   }
// }
.hamburger-button {
  @include flexCenter(50px,45px, 5px, center, center, column);
  position: fixed;
  top: 7px;
  left: 10px;
  z-index: 99;
  background: rgba(255, 255, 255, 0);
  box-shadow: inset 2px 2px 3px #7b7b7b, inset -2px -2px 3px #ffffff;

  div {
    display: block;
    width: 25px;
    height: 4px;
    margin: 2px;
    position: relative;
    background: #ec6aa0;
    border-radius: 50px;
    border: 1px solid #ffabcc;
    box-shadow: 2px 2px 2px #716e6e, -1px -1px 3px #ffffff;
  }
}

  .mo-6, .mo-5, .mo-4, .mo-3, .mo-2, .mo-1 {
    box-shadow: inset 0px 0px 0px #959595, inset -0px -0px 0px #959595;
  }

  .mo-6 {
    opacity: var(--mo6opacity);
    animation: var(--anim-dip-6)
  }
  .mo-5 {
    opacity: var(--mo5opacity);
    animation: var(--anim-dip-5)
  }
  .mo-4 {
    opacity: var(--mo4opacity);
    animation: var(--anim-dip-4)
  }
  .mo-3 {
    opacity: var(--mo3opacity);
    animation: var(--anim-dip-3)
  }
  .mo-2 {
    opacity: var(--mo2opacity);
    animation: var(--anim-dip-2)
  }
  .mo-1 {
    opacity: var(--mo1opacity);
    animation: var(--anim-dip-1)
  }
  .mi-6 {
    animation: var(--anim-pop-6)
  }
  .mi-5 {
    animation: var(--anim-pop-5)
  }
  .mi-4 {
    animation: var(--anim-pop-4)
  }
  .mi-3 {
    animation: var(--anim-pop-3)
  }
  .mi-2 {
    animation: var(--anim-pop-2)
  }
  .mi-1 {
    animation: var(--anim-pop-1)
  }
  .mi-6 a {
    color: var(--link-color-6);
  }
  .mi-5 a {
    color: var(--link-color-5);
  }
  .mi-4 a {
    color: var(--link-color-4);
  }
  .mi-3 a {
    color: var(--link-color-3);
  }
  .mi-2 a {
    color: var(--link-color-2);
  }
  .mi-1 a {
    color: var(--link-color-1);
  }

  