.NavBar {
  @include flexCenter(11%, 100%, 0px, space-between, stretch, column);
  position: absolute;
  bottom: 0;
  .navbar_section {
    @include flexCenter(100%, 100%, 40px 40px 0px 0px, center, center, row);
    background: linear-gradient(0deg, #c8c5c5 0%, #ecf0f3 100%);
    box-shadow: 0px -5px 20px 8px #353535;
    position: absolute;
    bottom: 0;
  }
}

.NavBarProfile {
  height: 21%;
  position: relative;
  .navbar_section {
    height: 100%;
    border-radius: none;
    background: none;
    box-shadow: none;
  }
}

.NavBarTestAudio {
    background: linear-gradient(358deg, #3e3e3e, #5a5a5a);
    box-shadow: 0px -5px 10px 8px #323232;
    border-radius: 40px 40px 0px 0px;
    .navbar_section {
        background: none;
        box-shadow: none;
        .navbar_shadow-div-outset {
            box-shadow: 2px 2px 3px 0px #353535, -3px -3px 4px #787878;
            border: none;
            .navbar_shadow-div-inset {
                box-shadow: inset 2px 2px 3px 0px #2c2c2c, inset -2px -2px 3px #676767;
                .navbar-btn-container {
                    box-shadow:  #5b3746 2px 2px 3px 0px, #6d6d6d -3px -3px 4px;
                    .navbar-btn_shadow-div-inset {
                        box-shadow: #333333 2px 2px 3px 0px inset, #838383 -2px -2px 3px inset;
                        .navbar-btn_shadow-div-outset {
                            box-shadow: #333333 2px 2px 3px 0px, #838383 -2px -2px 3px;
                        }
                    }
                }
            }
        }
    }
}
// navbar styles across multiple components
.navbar_shadow-div-outset {
  @include flexCenter(76%, 93%, 50px, center, center, row);
  box-shadow: 2px 2px 3px 0px #9d9d9d, -3px -3px 4px #ffffff;
  border: 1px solid #d1d1d1;

  .navbar_shadow-div-inset {
    @include flexCenter(84%, 97%, 55px, space-evenly, center, row);
    box-shadow: inset 2px 2px 3px 0px #9c9c9c, inset -2px -2px 3px #ffffff;
  }
}

.navbar-btn-container {
  @include flexCenter(80%, 22.5%, 5px, center, center, column);
  box-shadow: 2px 2px 5px #888888, -3px -3px 3px #ffffff;
  text-decoration: none;

  .navbar-btn_shadow-div-inset {
    @include flexCenter(40px, 40px, 50px, center, center, row);
    box-shadow: inset 2px 2px 3px 0px #908d8d, inset -2px -2px 3px #ffffff;

    .navbar-btn_shadow-div-outset {
      @include flexCenter(75%, 75%, 50%, center, center, row);
      box-shadow: 2px 2px 3px 0px #929292, -2px -2px 3px #ffffff;

      img {
        height: 1.5em;
        width: 1.5em;
      }
      &:active {
        box-shadow: inset 2px 2px 3px 0px #b0b1b3, inset -2px -2px 3px #ffffff;
      }
    }
  }

  .navbar-btn-text {
    @include flexCenter(15%, 100%, 0px, center, center, column);
    font-size: 11px;
    color: #ff8ebd;
  }
}

// everything else
.btn-unselected {
  background: initial;
  box-shadow: 2px 2px 5px #888888, -3px -3px 3px #ffffff;
  border: none;
  transition: all .4s;
  .navbar-btn_shadow-div-inset {
    height: 40px;
    width: 40px;
    box-shadow: inset 2px 2px 3px 0px #908d8d, inset -2px -2px 3px #ffffff;
    transition: all .4s;
    .navbar-btn_shadow-div-outset {
      box-shadow: 2px 2px 3px 0px #929292, -2px -2px 3px #ffffff;
      img {
        filter: invert(42%) sepia(65%) saturate(2055%) hue-rotate(310deg) brightness(100%) contrast(98%);
      }
    }
  }
  .navbar-btn-text {
    color: #ff8ebd;
  }
}
.btn-selected {
  background: #ec6aa0;
  box-shadow: inset 2px 2px 3px #855d6e, inset -2px -2px 3px #f4c4d8;
  border: 1px solid #ec6aa0;
  transition: all .4s;
  .navbar-btn_shadow-div-inset {
    height: 32px;
    width: 32px;
    box-shadow: #a4416a 3px 3px 5px 0px inset, #f4c4d8 -3px -3px 5px inset;
    transition: all .4s;
    .navbar-btn_shadow-div-outset {
      box-shadow: none;
      img {
        filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(293deg) brightness(107%) contrast(103%);
      }
    }
  }
  .navbar-btn-text {
    color: #ffffff;
  }
}
// class to be added on NavBar btn indicating which page is being shown
// when RecordingBooth is shown all classes get these styles
.section-2_control-panel {
  .NavBar {
    .navbar_section {
      .navbar_shadow-div-outset {
        .navbar_shadow-div-inset {
          .record-btn-unselected {
            background: initial;
            box-shadow: 2px 2px 3px 0px #353535, -3px -3px 4px #787878;
            border: none;
            transition: all .4s;
            .navbar-btn_shadow-div-inset {
              height: 40px;
              width: 40px;
              box-shadow: #333333 2px 2px 3px 0px inset, #838383 -2px -2px 3px inset;
              transition: all .4s;
              .navbar-btn_shadow-div-outset {
                box-shadow: #333333 2px 2px 3px 0px, #838383 -2px -2px 3px;
                img {
                  filter: invert(42%) sepia(65%) saturate(2055%) hue-rotate(310deg) brightness(100%) contrast(98%);
                }
              }
            }
            .navbar-btn-text {
              color: #ff8ebd;
            }
          }
        }
      }
    }
  }
}

.section-2_control-panel {
  .NavBar {
    .navbar_section {
      .navbar_shadow-div-outset {
        .navbar_shadow-div-inset {
          .record-btn-selected {
            background: #ec6aa0;
            box-shadow: #5c3747 2px 2px 3px inset, #f4c4d8 -2px -2px 3px inset;
            border: 1px solid #ec6aa0;
            transition: all .4s;
            .navbar-btn_shadow-div-inset {
              height: 32px;
              width: 32px;
              box-shadow: #5b3746 2px 2px 3px inset, #f4c4d8 -2px -2px 3px inset;
              transition: all .4s;
              .navbar-btn_shadow-div-outset {
                box-shadow: none;
                img {
                  filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(293deg) brightness(107%) contrast(103%);
                }
              }
            }
            .navbar-btn-text {
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}

@keyframes animatedOutset {
  from {
    box-shadow: 2px 2px 4px 0px #b0b1b3, -2px -2px 3px #ffffff;
  }
  to {
    box-shadow: inset 2px 2px 3px 0px #b0b1b3, inset -2px -2px 3px #ffffff;
  }
}
@keyframes opacityToOne {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOutText {
  0% {
    opacity: 1;
    width: initial;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    width: 0;
  }
}
@keyframes moveBtnsLeft {
  0% {
    left: 0px;
  }
  100% {
    left: -60px;
  }
}
@keyframes popOutBtns {
  0% {
    width: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 0px #686a6b, 0px 0px 0px #686a6b;
    right: 0px;
  }
  100% {
    width: 195px;
    border-radius: 30px 15px 15px 30px;
    box-shadow: inset 2px 2px 3px #3d3f3f, inset -2px -2px 3px #9e9e9e;
    right: -51px;
  }
}

@mixin menuPopout() {
  @keyframes #{$name} {
    from {
      opacity: $opacity;
      opacity: $opacity2;
      width: $width;
      left: $width2;
      right: $right;
      border-radius: $borderRadius;
    }
    to {
      opacity: $opacityX;
      opacity: $opacity2X;
      width: $widthX;
      left: $width2X;
      right: $rightX;
      border-radius: $borderRadiusX;
    }
  }
}
