.NavBar {
    @include flexCenter(32%, 100%, 0px, space-between, stretch, column);
    position: relative;

    .social-buttons {
        @include flexCenter(73%, 100%, 0px, center, center, column);
        position: absolute;
        background: linear-gradient(161deg, #b1b1b1 0%, #4f4f4f 100%);
        // border-top: 5px solid #8b8b8b;
        // box-shadow: inset 0px 2px 3px #585858;

        .play-container {
            @include flexCenter(36%, 100%, 0px, center, flex-end, row);

            .play-outset{
                @include flexCenter(86%, 97%, 5px, center, center, row);
                // box-shadow: inset 2px 2px 3px #4d4d4d, inset -2px -2px 3px 0px #d6d6d6;

                .playbutton {
                    @include flexCenter(50px, 50px, 50px, center, center, row);
                    box-shadow: 3px 3px 3px #414141, -2px -2px 3px 0px #cbcbcb;
                }
            }
        }
        .social-list {
            @include flexCenter(55%, 97%, 6px, space-evenly, center, row);
            box-shadow: 2px 2px 3px #494949, -2px -2px 3px 0px #e9e9e9;

            .user-details-inset {
                @include flexCenter(90%, 56%, 5px 50px 50px 5px, center, center, column);
                color: white;
                box-shadow: inset 2px 2px 3px #6a6a6a, inset -2px -2px 3px #ffffff;
                // border: 2px solid #5a5a5a;
                // box-shadow: inset 3px 3px 4px #2d2d2d, inset -2px -2px 3px #8c8f90;

                .individual-container-pic {
                    @include flexCenter(80%, 24%, 50px, space-evenly, center, row);
                    box-shadow: inset 2px 2px 3px #6a6a6a, inset -2px -2px 3px #ffffff;
    
                    .individual-btn-prof {
                        @include flexCenter(4.4rem, 4.4rem, 50px, center, center, row);
                        box-shadow: inset 2px 2px 3px #333333, inset -2px -2px 3px 0px #979797;
    
                        .individual-profile-pic {
                            @include flexCenter(85%, 85%, 50px, center, center, row);
                            background-size: cover;
                            overflow: hidden;
                            background-position: center;
                            box-shadow: 2px 2px 3px #3c3c3c, -2px -2px 2px #979696;
                            
                            .prof-pic {
                                height: 85%;
                                width: 85%;
                                border-radius: 100%;
                                border: 2px solid #e24f8c;
                            }
                        }
                    }
                }
                .text-container {
                    @include flexCenter(89%, 90%, 0px, flex-start, flex-start, column);
                    overflow-x: hidden;
                    // padding-left: 5px;
                    // position: relative;
                    // bottom: -11.5%;
                    // left: -7%;
    
                    // .ud-text {
                    //     white-space: nowrap;
                    //     width: 95%;
                    //     text-align: left;
                    //     display: inline-block;
                    //     transform: translateX(110%)
                    // }
    
                    .udt-1 {
                        white-space: nowrap;
                        text-align: left;
                        font-size: 15px;
                        font-weight: bold;
                    }
    
                    .udt-2 {
                        white-space: nowrap;
                        text-align: left;
                        color: #ffe4e4;
                        font-size: 11px;
                    }
                    
                    .udt-3 {
                        white-space: nowrap;
                        text-align: left;
                        color:#ffe4e4;
                        font-size: 11px;
                    }
                }
            }

            .two-btn-container {
                @include flexCenter(90%, 39%, 5px, space-evenly, center, row);
                box-shadow: inset 3px 3px 5px #515151, inset -3px -3px 3px 0px #cbcbcb;
                // background: linear-gradient(176deg, #959595 0%, #5b5b5b 100%);

                .individual-container {
                    @include flexCenter(85%, 27%, 5px, space-evenly, center, column);
                    box-shadow: 3px 3px 5px #414141, -2px -2px 3px 0px #cbcbcb;
                    
                    .individual-btn {
                        @include flexCenter(1.8rem, 1.8rem, 50px, center, center, row);
                        position: relative;
                        color: #ec6aa0;
                        list-style-type: none;
                        margin-top: 4px;
                        // box-shadow: 2px 2px 3px #3e3e3e, -2px -2px 3px #b7b6b6;
                        box-shadow: 3px 3px 5px #404040, -2px -2px 3px #c7c7c7;

                        &:active {
                            box-shadow: inset 2px 2px 5px #3d3f3f, inset -2px -2px 3px #989898;
                        }            
                    }

                    .individual-text {
                        margin-top: 2px;
    
                        p {
                            font-size: .55rem;
                            color: #e0bbbb;
                        }
                    }
                }
            }
        }
    }

    .navbar_section {
        @include flexCenter(35%, 100%, 40px 40px 0px 0px, center, center, row);
        background: linear-gradient(0deg, #c8c5c5 0%, #ecf0f3 100%);
        box-shadow: 0px -5px 20px 8px #353535;
        position: absolute;
        bottom: 0;
    }
}

// navbar styles across multiple components
.navbar_shadow-div-outset {
    @include flexCenter(76%, 93%, 50px, center, center, row);
    box-shadow: 2px 2px 3px 0px #9d9d9d, -3px -3px 4px #ffffff;
    border: 1px solid #d1d1d1;
    // background: #dddddd;

    .navbar_shadow-div-inset {
        @include flexCenter(84%, 97%, 55px, space-evenly, center, row);
        box-shadow: inset 2px 2px 3px 0px #9c9c9c, inset -2px -2px 3px #ffffff;

        .navbar-btn-container {
            @include flexCenter(80%, 22.5%, 5px, center, center, column);
            box-shadow: 2px 2px 5px #888888, -3px -3px 3px #ffffff;
            text-decoration: none;
            
            .navbar-btn_shadow-div-inset {
                @include flexCenter(40px, 40px, 50px, center, center, row);
                box-shadow: inset 2px 2px 3px 0px #908d8d, inset -2px -2px 3px #ffffff;

                .navbar-btn_shadow-div-outset {
                    @include flexCenter(75%, 75%, 50%, center, center, row);
                    box-shadow: 2px 2px 3px 0px #929292, -2px -2px 3px #ffffff;

                    img {
                        height: 1.5em;
                        width: 1.5em;
                    }
                    &:active {
                        box-shadow: inset 2px 2px 3px 0px #b0b1b3, 
                                    inset -2px -2px 3px #ffffff;
                    }
                }
            }

            .navbar-btn-text {
                @include flexCenter(15%, 100%, 0px, center, center, column);
                font-size: 11px;
                color: #ff8ebd;
            }
        }
    }
}


@keyframes animatedOutset {
    from {
        box-shadow: 2px 2px 4px 0px #b0b1b3, -2px -2px 3px #ffffff;
    }
    to {
        box-shadow: inset 2px 2px 3px 0px #b0b1b3, 
        inset -2px -2px 3px #ffffff;
    }
}
@keyframes opacityToOne {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeOutText {
    0% {
        opacity: 1;
        width: initial;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        width: 0;
    }
}
@keyframes moveBtnsLeft {
    0% {
        left: 0px;
    }
    100% {
        left: -60px;
    }
}
@keyframes popOutBtns {
    0% {
        width: 30px;
        border-radius: 8px;
        box-shadow: 0px 0px 0px #686a6b, 0px 0px 0px #686a6b;
        right: 0px;
    }
    100% {
        width: 195px;
        border-radius: 30px 15px 15px 30px;
        box-shadow: inset 2px 2px 3px #3d3f3f, inset -2px -2px 3px #9e9e9e;
        right: -51px;
    }
}

@mixin menuPopout() {
    @keyframes #{$name} {
        from {
            opacity: $opacity;
            opacity: $opacity2;
            width: $width;
            left: $width2;
            right: $right;
            border-radius: $borderRadius;
        }
        to {
            opacity: $opacityX;
            opacity: $opacity2X;
            width: $widthX;
            left: $width2X;
            right: $rightX;
            border-radius: $borderRadiusX;
        }
    }
}