.Profile {
  position: absolute;
}

.section-1_profile {
  @include flexCenter(50%, 100%, 0px 0px 30px 30px, space-evenly, center, column);
  background: linear-gradient(327deg, #959595 0%, #cdcdcd 100%);
  box-shadow: 0px 20px 50px 10px #595858;
  position: absolute;
  z-index: 1;

  .section-1a_user-title {
    @include flexCenter(20%, 100%, none, flex-end, center, row);
    margin-right: 4%;

    .user-title_shadow-div-inset {
      @include flexCenter(85%, 80%, 40px 5px 40px 40px, center, center, row);
      box-shadow: inset 3px 3px 5px #7b7b7b, inset -3px -3px 4px #eaeaea;

      .user-pic-container {
        @include flexCenter(100%, 20%, none, flex-end, center, row);

        .user-pic_shadow-div-outset {
          //57px 57px
          @include flexCenter(82%, 95%, 50px, center, center, row);
          box-shadow: 3px 3px 4px 1px #7b7b7b, -2px -2px 3px #e6e6e6;

          .user-pic_shadow-div-inset {
            @include flexCenter(90%, 90%, 100%, center, center, row);
            box-shadow: inset 2px 2px 5px #737373, inset -3px -3px 4px #dadada;
            overflow: hidden;

            .profile-pic {
              height: 80%;
              width: 80%;
              object-fit: cover;
              border: 1px solid white;
              border-radius: 50%;
            }
          }
        }
      }

      .user-name-container {
        @include flexCenter(100%, 77%, none, center, center, row);

        .user-name_shadow-div-outset {
          @include flexCenter(74%, 90%, 40px, center, center, row);
          box-shadow: 2px 2px 4px 1px #7b7b7b, -3px -3px 3px #dedcdc;
          border: 1px solid #bbbbbb;
          margin-left: 5%;

          .user-name_shadow-div-inset {
            @include flexCenter(85%, 94%, 45px, center, center, row);
            box-shadow: inset 3px 3px 5px #7b7b7b, inset -3px -3px 5px #ffffff;

            .username-text-me {
              width: 75%;
              font-size: 20px;
              color: #e24f8c;
              overflow-x: scroll;
              white-space: nowrap;
            }

            .username-follow-me {
              width: 20%;
              color: pink;
            }
          }
        }
      }
    }
  }

  .section-1b_user-data {
    @include flexCenter(80%, 100%, none, flex-start, stretch, row);

    .user-data-1_fields-container {
      @include flexCenter(100%, 90%, none, center, center, row);
      position: relative;

      .fields_shadow-div-outset {
        //300px 255px
        @include flexCenter(92%, 91%, 20px 180px 180px 20px, space-evenly, flex-start, column);
        box-shadow: 2px 3px 5px 0px #838282, -3px -3px 5px 0px #e0e0e0;
        position: absolute;
        overflow-y: scroll;
        left: 15px;

        .users-details-each {
          margin-left: 4%;
          display: flex;
          align-items: center;
          height: 20px;
          color: #ff728a;
          padding: 3px 10px 3px 10px;
          border-radius: 60px 100px 100px 60px;
          box-shadow: inset 3px 3px 3px #838282, inset -3px -3px 4px #d5d4d4;
          p {
            font-size: 11px;
            text-align: start;
          }
        }

        .ude-1 {
          width: 48%;
          border-radius: 30px 50px 50px 15px;
        }
        .ude-2 {
          width: 72%;
          border-radius: 15px 50px 50px 15px;
        }
        .ude-3 {
          width: 84%;
          border-radius: 6px 35px 35px 6px;
          height: 60px;
          padding: 6px 10px 6px 10px;
          align-items: stretch;

          .big-p {
            height: 100%;
            overflow-y: scroll;
            line-height: 1.2;
          }
        }
        .ude-4 {
          width: 81%;
          border-radius: 15px 50px 50px 15px;
        }
        .ude-5 {
          width: 72%;
          border-radius: 15px 50px 50px 15px;
        }
        .ude-6 {
          width: 48%;
          border-radius: 15px 50px 50px 30px;
        }
      }
    }

    .user-data-2_btns-container {
      @include flexCenter(100%, 30%, 0px, center, center, column);
      position: relative;
      right: 0px;

      .each-button-container {
        @include flexCenter(50px, 110px, 0px, flex-start, center, row);
        position: absolute;

        .profile-button-outset {
          @include flexCenter(50px, 50px, 50%, center, center, row);
          box-shadow: inset 2px 2px 3px #797979, inset -2px -2px 3px #cfcfcf;

          .profile-button-inset {
            @include flexCenter(75%, 75%, 50%, center, center, row);
            box-shadow: 2px 2px 3px #6f6f6f, -2px -2px 3px #c5c5c5;
          }
        }
      }

      .btn-title {
        font-size: 11px;
        color: white;
        margin-left: 5px;
      }

      .ebc-1 {
        top: 10px;
        right: 35px;
      }
      .ebc-2 {
        top: 70px;
        right: 1px;
        width: 105px;
      }
      .ebc-3 {
        right: 14px;
        width: 80px;
      }
      .ebc-4 {
        bottom: 70px;
        right: 27px;
        width: 80px;
      }
      .ebc-5 {
        bottom: 10px;
        right: 36px;
      }
    }
  }
}

.section-2_profile {
  @include flexCenter(53%, 100%, none, center, center, column);
  background: linear-gradient(0deg, #dfdfdf 0%, #ecf0f3 100%);
  position: absolute;
  bottom: 0;
  overflow-y: auto;

  .feed-title-container {
    @include flexCenter(10%, 100%, 20px, center, center, column);

    .feed-title {
      @include flexCenter(60%, 60%, 20px, center, center, row);
      box-shadow: 2px 2px 4px #d0d1d2, -2px -2px 4px #ffffff;
      color: #4f5050;
      font-weight: bold;
    }
  }

  .section-2a_songs {
    @include flexCenter(79%, 100%, 18px, space-evenly, flex-end, row);

    .songs-1_songs-list {
      @include flexCenter(80%, 86%, 15px, flex-start, flex-start, column);
      // box-shadow: inset 3px 3px 4px #c5c5c5,
      //             inset -3px -3px 5px #ffffff;
      // scroll-snap-type: y mandatory;
      border: 3px solid #ecf0f3;
      overflow-y: scroll;
      box-shadow: inset 0px -2px 3px #bebebe;

      .each-track-container {
        // @include flexCenter(100%, 95%, 16px, flex-start, stretch, column);
        min-height: 140px;
        width: 100%;
        margin-top: 2%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 16px;
        box-shadow: inset 3px 3px 4px #c5c5c5, inset -3px -3px 5px #ffffff;
        scroll-snap-align: start;
        scroll-snap-stop: always;

        &:focus {
          background: pink;
        }

        .track-details-container {
          @include flexCenter(100%, 45%, none, center, center, column);
          // position: relative;

          .song-name-container {
            @include flexCenter(23%, 100%, 0px, flex-end, center, column);

            .song-name-outset {
              // @include flexCenter(20px, 85%, 15px, center, flex-start, column);
              box-shadow: 2px 2px 2px 0px #b0b1b3, -2px -2px 2px #ffffff;
              min-height: 15px;
              width: 83%;
              border-radius: 15px;
              padding: 3px;
              display: flex;
              justify-content: center;
              align-items: flex-start;
              flex-direction: column;
              text-decoration: none;

              p {
                font-size: 14px;
                color: #e24f8c;
                margin-left: 5%;
                line-height: 1;
                text-align: start;
                word-break: break-word;
              }
            }
          }

          .track-play-container {
            @include flexCenter(77%, 100%, 0px, center, center, row);

            .track-data-container {
              @include flexCenter(100%, 40%, 10px, center, flex-start, column);
              // box-shadow: 2px 2px 2px 0px #b0b1b3, -2px -2px 2px #ffffff;
              position: relative;
              .shape-wrap {
                height: 50px;
                width: 22px;
                float: left;
                shape-outside: polygon(
                  0 0,
                  25% 6%,
                  47% 16%,
                  66% 31%,
                  83% 53%,
                  94% 77%,
                  100% 100%,
                  0 100%
                );
              }
              p {
                font-size: 11px;
                color: #959595;
                position: absolute;
              }
              .tp-1 {
                width: 93px;
                height: 50px;
                top: 6px;
                right: -4px;
                overflow: hidden;
                line-height: 1;
              }

              .tp-2 {
                right: 38px;
                bottom: 37px;
              }
              .tp-3 {
                bottom: 23px;
                right: 24px;
                overflow: hidden;
              }
              .tp-4 {
                bottom: 10px;
                width: 70px;
                right: 1px;
              }
            }

            .play-container {
              @include flexCenter(85%, 60%, 5px 50px 50px 5px, center, center, row);
              box-shadow: inset 3px 3px 4px #c5c5c5, inset -3px -3px 5px #ffffff;

              .play-outset {
                @include flexCenter(65px, 65px, 50%, center, center, row);
                box-shadow: 2px 2px 3px 0px #b0b1b3, -2px -2px 3px #ffffff;

                .play-inset {
                  @include flexCenter(80%, 80%, 50%, center, center, row);
                  box-shadow: 2px 2px 3px 0px #b0b1b3, -2px -2px 3px #ffffff;

                  .bi-play-2 {
                    margin: 1px 0px 0px 4px;
                    font-size: 0.7em;
                  }
                }
              }
            }
          }
        }

        .lyrics-container {
          @include flexCenter(100%, 55%, 20px, center, center, column);
          position: relative;

          .lyrics-outset {
            @include flexCenter(120px, 90%, 15px, center, center, column);
            box-shadow: 2px 2px 3px 0px #b0b1b3, -2px -2px 2px #ffffff;
            position: absolute;
            top: 10px;
            left: 10px;

            .p-container {
              height: 90%;
              width: 90%;
              font-size: 13px;
              line-height: 1.2;
              color: #ff728a;
              overflow-y: scroll;
              text-align: start;
            }
          }
        }
      }
    }

    .songs-2_slider-container {
      @include flexCenter(82%, 6%, 0px, center, center, row);

      .songs-slider-outer {
        @include flexCenter(100%, 80%, 50px, center, center, row);
        box-shadow: inset 3px 3px 4px #c5c5c5, inset -3px -3px 5px #ffffff;
      }
    }
  }

  .NavBar {
    height: 21%;
    position: relative;

    .navbar_section {
      height: 100%;
      border-radius: none;
      background: none;
      box-shadow: none;
    }
  }
}