.Profile {
    // height: 100%;
    // width: 100%;
    position: absolute;
}

.profile-header {
    @include flexCenter(50%, 100%, none, space-evenly, center, column);
    background-color: #686a6b;
    border-bottom: 5px solid #686a6b;
    box-shadow: inset -1px -3px 5px 0px #8e8b8b;

    .upper-filler {
        @include flexCenter(10%, 100%, none, flex-end, center, row);
        margin-right: 9%;

        .inner-filler {
            @include flexCenter(50%, 70%, 50px, row);
            box-shadow: inset 3px 3px 4px #4f5050, inset -3px -3px 4px #8c8f90;
        }
    }

    .username-pic-container {
        @include flexCenter(25%, 100%, none, center, center, row);
    
        .username-pic-outset {
            @include flexCenter(90%, 93%, 50px, center, center, row);
            box-shadow: inset 3px 3px 4px #4f5050, 
                        inset -3px -3px 4px #8c8f90;
    
            .profile-pic-container {
                @include flexCenter(100%, 30%, none, center, center, row);
    
                .profile-pic-outset {
                    @include flexCenter(75%, 75%, 100%, center, center, row);
                    box-shadow: 3px 3px 4px #525252, 
                                -2px -2px 3px #939597;
    
                    .profile-pic-inset {
                        @include flexCenter(88%, 88%, 100%, center, center, row);
                        overflow: hidden;
                        border: 2px solid #e24f8c;
    
                        .profile-pic {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }

            .username-container {
                @include flexCenter(100%, 70%, none, center, center, row);

                .username-outset {
                    @include flexCenter(80%, 90%, 50px, center, center, row);
                    box-shadow: inset 3px 3px 4px #4f5050, 
                                inset -3px -3px 4px #8c8f90;
                
                    .username-inset {
                        @include flexCenter(70%, 85%, 50px, center, center, row);
                        box-shadow: 3px 3px 4px #525252, 
                                    -2px -2px 3px #939597;
                
                        .username-text-me {
                            width: 75%;
                            margin-left: 4%;
                            color: #e24f8c;
                            overflow-x: scroll;
                            white-space: nowrap;
                        }
                
                        .username-follow-me {
                            width: 20%;
                            color: pink;
                        }
                    }
                }
            }
        }
    }

    .header-bio {
        @include flexCenter(65%, 100%, none, flex-start, stretch, row);
    
        .users-details-container {
            @include flexCenter(100%, 70%, none, center, center, row);
    
            .users-details-outset {
                @include flexCenter(90%, 90%, 25px, center, center, row);
                box-shadow: inset 3px 3px 4px #4f5050, 
                            inset -3px -3px 4px #8c8f90;

                .users-details-inset {
                    @include flexCenter(90%, 90%, 20px, flex-start, center, column);
                    box-shadow: inset 3px 3px 4px #4f5050, inset -3px -3px 4px #8c8f90;
                    overflow-y: scroll;
    
                    .users-details-each {
                        width: 90%;
                        color: pink;
                        margin-top: 5%;
                        border-radius: 20px;
                        box-shadow: inset 3px 3px 4px #4f5050, inset -3px -3px 4px #8c8f90;
                    }
    
                    .ude-1 {
                        @include flexCenter(initial, 90%, none, flex-start, center, column);
                        min-height: 15%;
                        max-height: 50%;
                        padding: 5px 0px 5px 0px;
                        overflow-y: scroll;

                        .little-p {
                            width: 90%;
                            font-size: 12px;
                            text-align: start;
                            border-radius: 10px;
                        }
                        .big-p {
                            font-size: 12px;
                            text-align: start;
                            height: 77%;
                            width: 90%;
                            border-radius: 10px;
                            overflow-y: scroll;
                        }
                    }
                    .ude-2, .ude-3, .ude-4 {
                        @include flexCenter(15%, 90%, none, center, stretch, row);
                        padding: 5px 0px 5px 0px;
                    
                        p {
                            font-size: 12px;
                            width: 90%;
                            text-align: start;
                        }
                    }
                }
            }
        }
    
        .edit-logout-container {
            @include flexCenter(100%, 30%, 0px, center, center, column);
        
            .edit-profile-container, 
            .log-profile-container {
                @include flexCenter(40%, 100%, none, center, center, row);
                
                .edit-profile-outset, 
                .log-profile-outset {
                    @include flexCenter(80%, 80%, 50%, center, center, row);
                    box-shadow: 3px 3px 4px #525252, -2px -2px 3px #939597;

                    .edit-profile-inset, 
                    .log-profile-inset {
                        @include flexCenter(90%, 90%, 50%, center, center, row);
                        box-shadow: inset 3px 3px 4px #4f5050, inset -3px -3px 4px #8c8f90;

                        .edit-profile-button, 
                        .log-profile-button {
                            @include flexCenter(70%, 70%, 50%, center, center, row);
                            box-shadow: 3px 3px 4px #525252, -2px -2px 3px #939597;

                            .profile-link {
                                @include flexCenter(100%, 100%, none, center, center, row);
                            }
                        }
                    }
                }
            }
        }
    }
}

.profile-post-feed {
    @include flexCenter(39%, 100%, none, center, center, row);
    box-shadow: inset 0px 3px 2px 0px #b9b7b7;
    overflow-y: auto;
    background: #ecf0f3;

    .profile-post-inner {
        @include flexCenter(94%, 94%, 20px, center, center, column);
        box-shadow: inset 3px 3px 4px #c5c5c5, 
                    inset -3px -3px 5px #ffffff;

        .profile-post-inner-inner {
            @include flexCenter(92%, 93%, 18px, center, center, column);
            box-shadow: inset 3px 3px 4px #c5c5c5, 
                        inset -3px -3px 5px #ffffff;

            .profile-post-innerest {
                @include flexCenter(90%, 92%, 16px, flex-start, center, column);
                // box-shadow: inset 3px 3px 4px #c5c5c5, inset -3px -3px 5px #ffffff;
                scroll-snap-type: y mandatory;
                overflow-y: scroll;

                .your-track-container {
                    @include flexCenter(100%, 100%, 16px, flex-start, stretch, column);
                    min-height: 100%;
                    scroll-snap-align: start;
                    scroll-snap-stop: always;

                    .lyrics-play {
                        @include flexCenter(25%, 85%, none, flex-start, center, row);
                        margin-left: 4%;
                    
                        .lyrics-outter-container {
                            @include flexCenter(45px, 45px, 50%, center, center, row);
                            box-shadow: inset 3px 3px 4px #c5c5c5, inset -3px -3px 5px #ffffff;
                    
                            .play-ur-song {
                                height: 30px;
                                width: 30px;
                                border-radius: 50%;
                                box-shadow: 2px 2px 3px 0px #b0b1b3, -2px -2px 3px #ffffff;
                    
                                .bi-play-2 {
                                    margin: 1px 0px 0px 4px;
                                    font-size: .7em
                                }
                            }
                        }
                    
                        .lyrics-songname-cont {
                            @include flexCenter(60%, 75%, 20px, center, center, row);
                            margin-right: 5%;
                            box-shadow: 2px 2px 2px 0px #b0b1b3, -2px -2px 2px #ffffff;
                            
                            h4 {
                                width: 85%;
                                margin-left: 4%;
                                text-align: start;
                                color:rgb(46, 194, 145);
                            }
                        }
                    }

                    .lyrics-container {
                        @include flexCenter(70%, 85%, 20px, center, center, column);
                        box-shadow: 2px 2px 3px 0px #b0b1b3, -2px -2px 2px #ffffff;
                        margin-left: 4%;

                        .para-container {
                            height: 90%;
                            width: 90%;
                            font-size: 13px;
                            color: #e24f8c;
                            overflow-y: scroll;
                            text-align: start;
                        }
                    }
                }
            }
        }
    }
}

.nb-profile {
    height: 11%;
    // width: 100%;
    position: fixed;
    bottom: 0;
    border: none;
    background: $lightgrayBg;
    box-shadow: inset 1px 5px 4px #ffffff;

    .nav-list {
        @include flexCenter(100%, 100%, 0px, space-evenly, center, row);
        margin: 0 auto;

        .nav-buttons-rim {
            @include flexCenter(80%, 20%, 50%, center, center, row);
            box-shadow: 1px 1px 3px 0px #b7b8b9, -2px -2px 3px #ffffff;

            .nav-buttons-outset {
                @include flexCenter(90%, 92%, 50%, center, center, row);
                box-shadow: inset 2px 2px 5px #cacaca, inset -3px -3px 4px #ffffff;

                .nav-buttons-inset {
                    @include flexCenter(70%, 70%, 50%, center, center, row);
                    box-shadow: 2px 2px 4px 0px #b0b1b3, -2px -2px 3px #ffffff;
                    &:active {
                        box-shadow: inset 2px 2px 3px 0px #b0b1b3, 
                                    inset -2px -2px 3px #ffffff;
                    }
                }
            }
        }
    }
}