.Profile {
    // height: 100%;
    // width: 100%;
    position: absolute;
}

.profile-header {
    @include flexCenter(50%, 100%, 0px 0px 30px 30px, space-evenly, center, column);
    background: linear-gradient(327deg, #959595 0%, #cdcdcd 100%);
    box-shadow: 0px 20px 50px 10px #595858;
    position: absolute;
    z-index: 1;

    .upper-filler {
        @include flexCenter(10%, 100%, none, flex-end, center, row);
        margin-right: 9%;

        .inner-filler {
            @include flexCenter(50%, 70%, 50px, row);
            box-shadow: inset 3px 3px 4px #908c8c, inset -3px -3px 4px #d2d2d2;
        }
    }

    .username-pic-container {
        @include flexCenter(20%, 100%, none, flex-end, center, row);
        margin-right: 5%;
    
        .username-pic-outset {
            @include flexCenter(85%, 80%, 50px, center, center, row);
            box-shadow: inset 3px 3px 4px #808080, inset -3px -3px 4px #d2d2d2;
    
            .profile-pic-container {
                @include flexCenter(100%, 30%, none, center, center, row);
    
                .profile-pic-outset {
                    @include flexCenter(85%, 80%, 50px, center, center, row);
                    box-shadow: inset 3px 3px 4px #8e8d8d, inset -3px -3px 4px #d2d2d2;
    
                    .profile-pic-inset {
                        @include flexCenter(88%, 88%, 100%, center, center, row);
                        overflow: hidden;
                        border: 2px solid #e24f8c;
    
                        .profile-pic {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                            border-radius: 50%;
                        }
                    }
                }
            }

            .username-container {
                @include flexCenter(100%, 70%, none, center, center, row);

                .username-outset {
                    @include flexCenter(80%, 100%, 50px, center, center, row);
                    // box-shadow: inset 3px 3px 4px #808080, inset -3px -3px 4px #d2d2d2;
                
                    .username-inset {
                        @include flexCenter(90%, 90%, 50px, center, center, row);
                        box-shadow: 3px 3px 4px #8e8b8b, -3px -3px 4px #d2d2d2;
                
                        .username-text-me {
                            width: 75%;
                            margin-left: 4%;
                            color: #e24f8c;
                            overflow-x: scroll;
                            white-space: nowrap;
                        }
                
                        .username-follow-me {
                            width: 20%;
                            color: pink;
                        }
                    }
                }
            }
        }
    }

    .header-bio {
        @include flexCenter(80%, 100%, none, flex-start, stretch, row);
    
        .users-details-container {
            @include flexCenter(100%, 90%, none, center, center, row);
            position: relative;

            .users-details-outset {
                @include flexCenter(300px, 255px, 20px 180px 180px 20px, center, center, row);
                box-shadow: 2px 3px 5px 0px #838282, -3px -3px 5px 0px #e0e0e0;
                position: absolute;
                left: 15px;

                .users-details-inset {
                    @include flexCenter(100%, 100%, 20px, space-evenly, flex-start, column);
                    // box-shadow: inset 3px 3px 4px #808080, inset -3px -3px 4px #d2d2d2;
                    overflow-y: scroll;
                    margin-left: 3%;
    
                    .users-details-each {
                        height: 32px;
                        width: 90%;
                        color: pink;
                        border-radius: 40px 100px 100px 40px;
                        box-shadow: inset 3px 3px 3px #838282, inset -3px -3px 4px #d5d4d4;

                        p {
                            font-size: 12px;
                            width: 90%;
                            text-align: start;
                            margin-left: 5%;
                        }
                    }
    
                    .ude-1, .ude-6 {
                        width: 60%;
                    }
                    .ude-2, .ude-5 {
                        width: 85%;
                    }
                    .ude-3 {
                        height: 60px;
                        width: 95%;
                        border-radius: 30px 100px 100px 30px;

                        .little-p {
                            width: 90%;
                            font-size: 12px;
                            text-align: start;
                            border-radius: 10px;
                        }
                        .big-p {
                            font-size: 12px;
                            text-align: start;
                            height: 77%;
                            width: 90%;
                            border-radius: 10px;
                            overflow-y: scroll;
                        }
                    }
                    .ude-4 {
                        width: 93%;
                    }
                }
            }
        }
    
        .profile-buttons-container {
            @include flexCenter(100%, 30%, 0px, center, center, column);
            position: relative;
            right: 0px;

            .profile-button-outset {
                @include flexCenter(50px, 50px, 50%, center, center, row);
                box-shadow: inset 2px 2px 3px #797979, inset -2px -2px 3px #cfcfcf;
                position: absolute;

                .profile-button-inset {
                    @include flexCenter(75%, 75%, 50%, center, center, row);
                    box-shadow: 2px 2px 3px #6f6f6f, -2px -2px 3px #c5c5c5;
                }
            }
            .btn-title {
                font-size: 11px;
                position: absolute;
                font-weight: bold;
                color: pink;
            }
            .pbo-1 {
                top: 10px;
                right: 90px;
            }
            .bt-1 {
                top: 27px;
                right: 36px;
            }
            .pbo-2 {
                top: 70px;
                right: 55px;
            }
            .bt-2 {
                top: 87px;
                right: 3px;
            }
            .pbo-3 {
                right: 40px;
            }
            .bt-3 {
                right: 15px;
            }
            .pbo-4 {
                bottom: 70px;
                right: 55px;
            }
            .bt-4 {
                bottom: 84px;
                right: 28px;
            }
            .pbo-5 {
                bottom: 10px;
                right: 90px;
            }
            .bt-5 {
                width: 80%;
                bottom: 26px;
                right: 27px;
            }

        }
    }
}

.profile-post-feed {
    @include flexCenter(53%, 100%, none, center, center, column);
    background: linear-gradient(0deg, #dfdfdf 0%, #ecf0f3 100%);
    position: absolute;
    bottom: 0;
    overflow-y: auto;

    .feed-title-container {
        @include flexCenter(10%, 100%, 20px, center, center, column);

        .feed-title {
            @include flexCenter(60%, 60%, 20px, center, center, row);
            box-shadow: 2px 2px 4px #d0d1d2, -2px -2px 4px #ffffff;
            color: #4f5050;
            font-weight: bold;
        }
    }

    .profile-songs-container {
        @include flexCenter(65%, 100%, 18px, space-evenly, center, row);

        .songs-list-container {
            @include flexCenter(90%, 88%, 15px, flex-start, flex-start, column);
            // box-shadow: inset 3px 3px 4px #c5c5c5, 
            //             inset -3px -3px 5px #ffffff;
            // scroll-snap-type: y mandatory;
            border: 3px solid #ecf0f3;
            overflow-y: scroll;
            box-shadow: inset 0px -2px 3px #bebebe;

            .your-track-container {
                // @include flexCenter(100%, 95%, 16px, flex-start, stretch, column);
                min-height: 150px;
                width: 100%;
                margin-top: 2%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 16px;
                box-shadow: inset 3px 3px 4px #c5c5c5, 
                            inset -3px -3px 5px #ffffff;
                scroll-snap-align: start;
                scroll-snap-stop: always;

                &:focus {
                    background: pink;
                }

                .track-details-container {
                    @include flexCenter(100%, 45%, none, center, center, column);
                    // position: relative;

                    .lyrics-songname-cont {
                        @include flexCenter(20%, 100%, 0px, flex-end, center, column);

                        .song-name-cont {
                            // @include flexCenter(20px, 85%, 15px, center, flex-start, column);
                            box-shadow: 2px 2px 2px 0px #b0b1b3, -2px -2px 2px #ffffff;
                            min-height: 15px;
                            width: 83%;
                            border-radius: 15px;
                            padding: 3px;
                            display: flex;
                            justify-content: center;
                            align-items: flex-start;
                            flex-direction: column;
                            text-decoration: none;

                            h5 {
                                color:#e24f8c;
                                margin-left: 5%;
                                line-height: 1;
                                text-align: start;
                                word-break: break-word;
                            }
                        }
                    }

                    .track-play-cont {
                        @include flexCenter(80%, 100%, 0px, center, center, row);

                        .song-date-cont {
                            @include flexCenter(100%, 30%, 10px, center, flex-start, column);
                            // box-shadow: 2px 2px 2px 0px #b0b1b3, -2px -2px 2px #ffffff;
     
                            p {
                                font-size: 12px;
                                font-weight: bold;
                                color: #6d6d6d;
                                margin-left: 5%;
                            }
                        }

                        .lyrics-outer-container {
                            @include flexCenter(80%, 60%, 10% 50% 50% 10%, center, center, row);
                            box-shadow: inset 3px 3px 4px #c5c5c5, inset -3px -3px 5px #ffffff;
                    
                            .play-ur-song {
                                @include flexCenter(70%, 70%, 50%, center, center, row);
                                box-shadow: 2px 2px 3px 0px #b0b1b3, -2px -2px 3px #ffffff;
                    
                                .bi-play-2 {
                                    margin: 1px 0px 0px 4px;
                                    font-size: .7em
                                }
                            }
                        }
                    }
                }

                .track-play-container {
                    @include flexCenter(100%, 55%, 20px, center, center, column);
                    position: relative;
                    
                    .lyrics-container {
                        @include flexCenter(130px, 90%, 15px, center, center, column);
                        box-shadow: 2px 2px 3px 0px #b0b1b3, -2px -2px 2px #ffffff;
                        position: absolute;
                        top: 10px;
                        left: 10px;

                        .para-container {
                            height: 90%;
                            width: 90%;
                            font-size: 13px;
                            line-height: 1.2;
                            color: #e24f8c;
                            overflow-y: scroll;
                            text-align: start;
                        }
                    }
                }
            }
        }

        .songs-slider-container {
            @include flexCenter(90%, 5%, 0px, center, center, row);
            
            .songs-slider-outer {
                @include flexCenter(100%, 80%, 50px, center, center, row);
                box-shadow: inset 3px 3px 4px #c5c5c5, inset -3px -3px 5px #ffffff;

            }
        }
    }

    .nb-profile {
        height: 25%;
        // width: 100%;
        // position: fixed;
        // bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        
        // background: $lightgrayBg;
        // box-shadow: inset 1px 5px 4px #ffffff;
    
        .nav-list {
            @include flexCenter(80px, 92%, 50px, center, center, row);
            box-shadow: 8px 8px 10px 0px #adadad, -9px -9px 20px #ffffff;
            border: 1px solid #d1d1d1;
            background: #dddddd;

            .nav-list-inner {
                @include flexCenter(88%, 96%, 55px, space-evenly, center, row);
                box-shadow: inset 2px 2px 3px 0px #9c9c9c, inset -2px -2px 3px #ffffff;

                .nav-buttons-containers {
                    @include flexCenter(52px, 72px, 10px, space-around, center, column);
                    box-shadow: 2px 2px 5px #888888, -3px -3px 3px #ffffff;
        
                    .nav-buttons-rim {
                        @include flexCenter(45px, 45px, 50px, center, center, row);
                        box-shadow: inset 2px 2px 3px 0px #908d8d, inset -2px -2px 3px #ffffff;

                        .nav-buttons-outset {
                            @include flexCenter(75%, 75%, 50%, center, center, row);
                            box-shadow: 2px 2px 3px 0px #929292, -2px -2px 3px #ffffff;

                            .nav-buttons-inset {
                                @include flexCenter(80%, 80%, 50%, center, center, row);
 
                                img {
                                    height: 1.5em;
                                    width: 1.5em;
                                }
                                &:active {
                                    box-shadow: inset 2px 2px 3px 0px #b0b1b3, 
                                                inset -2px -2px 3px #ffffff;
                                }
                            }
                        }
                    }
        
                    .button-title-container {
                        @include flexCenter(15%, 100%, 0px, center, center, column);
                        font-size: 14px;
                        color: #686a6b;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

