
.SocialFeed {
    // height: 100%;
    // width: 100%;
    background: #000000eb;
    position: absolute;
}
.social-panel {
    height: 62%;
    width: 100%;
    position: relative;
    bottom: 0;
    transition: bottom .5s;
    overflow-y: hidden;

    .video-scroll-container {
        height: 100%; 
        width: 100%;
        scroll-snap-type: y mandatory;
        overflow-y: scroll;
        position: absolute;

        .video-pane {
            @include flexCenter(100%, 100%, 0px, flex-start, center, column);
            scroll-snap-align: start;
            scroll-snap-stop: always;
            background-size: cover;
            background-position-x: center;
            
            .last-div {
                height: 65%;
                width: 85%;
                margin-top: 10%;
                border-radius: 20px;
                box-shadow: 2px 2px 3px #00000099, -2px -2px 2px #ffffff7a;
            }
            
        }
    }

    .video-details-container {
        @include flexCenter(63px, 100%, 0px, flex-end, center, row);
        position: absolute;
        z-index: 10;
        background: linear-gradient(327deg, #959595 0%, #cdcdcd 100%);
        // box-shadow: inset -11px -20px 80px 20px #6f6f6f;
        // border: 1px solid $charcoalBg;
        // background-image: url('../images/bg-transparent2.png');
        // background-size: cover;
        // background-position: center;
        // bottom: 0%;

        .transparent-test {
            @include flexCenter(100%, 83%, 0px, space-around, center, row);
            // box-shadow: inset 3px 3px 6px #353535, inset -2px -2px 3px #8c8f90;
            margin-right: 2%;

            .user-details-container {
                @include flexCenter(100%, 79%, 0px, center, center, row);
                // margin-left: 5%;
                // background-position: 24% 50%;
                // box-shadow: 6px 6px 20px 0px #444444, -5px -5px 14px #828282;

                .user-details-inset {
                    @include flexCenter(80%, 95%, 5px 30px 30px 5px, center, center, column);
                    color: white;
                    box-shadow: inset 2px 2px 3px #6a6a6a, inset -2px -2px 3px #ffffff;
                    // border: 2px solid #5a5a5a;
                    // box-shadow: inset 3px 3px 4px #2d2d2d, inset -2px -2px 3px #8c8f90;

                    .text-container {
                        @include flexCenter(89%, 90%, 0px, flex-start, flex-start, column);
                        overflow-x: hidden;
                        // padding-left: 5px;
                        // position: relative;
                        // bottom: -11.5%;
                        // left: -7%;
        
                        // .ud-text {
                        //     white-space: nowrap;
                        //     width: 95%;
                        //     text-align: left;
                        //     display: inline-block;
                        //     transform: translateX(110%)
                        // }

                        .udt-1 {
                            white-space: nowrap;
                            text-align: left;
                            font-size: 15px;
                            font-weight: bold;
                        }

                        .udt-2 {
                            white-space: nowrap;
                            text-align: left;
                            color: #ffe4e4;
                            font-size: 11px;
                        }
                        
                        .udt-3 {
                            white-space: nowrap;
                            text-align: left;
                            color:#ffe4e4;
                            font-size: 11px;
                        }
                    }
                }
            }

            .user-profile-image {
                @include flexCenter(81%, 21%, 40px 5px 5px 40px, center, center, row);
                box-shadow: inset 2px 2px 3px #5a5a5a, inset -2px -2px 4px #ffffff;

                .social-p {
                    @include flexCenter(75%, 75%, 50%, center, center, row);
                    margin-right: 3%;
                    box-shadow: 2px 2px 4px #505050, -2px -2px 3px #e3e2e2;
                    // box-shadow: 2px 2px 5px #2a2a2b, -2px -2px 3px #7b7b7b;

                    .inset-social-p {
                        @include flexCenter(87%, 87%, 50%, center, center, row);
                        box-shadow: inset 1px 1px 3px #585858, inset -1px -1px 3px #eaeaea;

                        &:active {
                            box-shadow: inset 2px 2px 3px #313232, 
                                      inset -2px -2px 3px #9fa2a4;
                        }
                        .bi-play {
                            font-size: .9em;
                            margin-left: 3px;
                        }
                    }
                }
            }

        }
    }
}
/* ------------------------------ Comment Pop Up menu ------------------------------------------*/
.comment-pop-out {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 0px;
    width: 100%;
    // z-index: -1;
    position: absolute;
    bottom: 28%;
    background: #ecf0f3;
    border-radius: 30px 30px 0px 0px;
    transition: height .5s;

    .inner-com {
        @include flexCenter(96%, 96%, 25px, flex-start, center, column);
        // margin: 2% 0% 1% 0%;
        background: #ecf0f3;
        box-shadow: inset 2px 2px 4px #cccccc, inset -2px -2px 4px #ffffff;

        .com-cont-1 {
            @include flexCenter(15%, 100%, 0px, center, center, row);

            .social-comment-form {
                @include flexCenter(75%, 93%, 20px, space-evenly, center, row);
                background: #ecf0f3;
                box-shadow: inset 2px 2px 4px #d0d1d2, inset -2px -2px 7px #ffffff;

                .social-comment-input {
                    font-family: inherit;
                    font-size: 1em;
                    height: 60%;
                    width: 73%;
                    border-radius: 20px;
                    border: 1px solid #686a6b;
                    padding-left: 5%;
                    background: #686a6b;
                    box-shadow: inset 2px 2px 3px #4c4c4c, inset -1px -1px 3px #b3b1b1;
                
                    &:defined {
                        color: pink;
                    }
                    &::placeholder {
                        color: #adadad;
                    }
                    &:focus {
                        border: 2px solid pink;
                        outline: none !important;
                        color: white;
                        border-radius: 20px;
                    }
                }
                .comment-button {
                    @include flexCenter(27px, 40px, 30px, center, center, row);
                    box-shadow: 2px 2px 4px #793c55, -2px -2px 4px #ffffff;
                    border: none;
                    background: #ec6aa0;
                }

            }
        }

        .com-cont-2 {
            @include flexCenter(85%, 100%, 25px, center, center, column);

            .comments-title {
                height: 8%;
                width: 90%;

                .comments-title-inner {
                    @include flexCenter(88%, 100%, 21px, center, center, row);
                    box-shadow: 2px 2px 4px #d0d1d2, -2px -2px 4px #ffffff;
                    
                    p {
                        font-weight: bold;
                        color: #686a6b;
                    }
                }
            }

            .comments-container {
                @include flexCenter(88%, 95%, 21px, center, center, row);
                
                .comment-list-container {
                    @include flexCenter(93%, 94%, 15px, flex-start, center, column);
                    overflow-y: scroll;
                    background: #686a6b;
                    box-shadow: inset 2px 2px 3px #3d3f3f, inset -2px -2px 3px #9f9f9f;

                    .comment-list {
                        // @include flexCenter(80px, 93%, 20px, center, center, row);
                        min-height: 125px;
                        width: 95%;
                        border-radius: 13px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-top: 2%;
                        background: #686a6b;
                        box-shadow: inset 2px 2px 3px #3d3f3f, inset -2px -2px 3px #9e9e9e;

                        .comment-list-photo {
                            @include flexCenter(100%, 20%, 0px, center, flex-start, row);
                            padding: 15px 0px 0px 5px;

                            .comment-photo-inner {
                                @include flexCenter(50px, 80%, 50px, center, center, column);
                                box-shadow: inset 2px 2px 3px #3d3f3f, inset -2px -2px 3px #9e9e9e;
                                

                                .comment-photo-outer {
                                    @include flexCenter(80%, 80%, 50px, center, center, row);
                                    box-shadow: 2px 2px 3px #3d3f3f, -2px -2px 3px #9e9e9e;

                                    a {
                                        @include flexCenter(90%, 90%, 50px, center, center, row);
                                        overflow: hidden;
                                        object-fit: contain;

                                        img {
                                            height: 100%;
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                        }
                    
                        .comment-list-inner {
                            @include flexCenter(100%, 78%, 0px, space-evenly, flex-start, column);
                            position: relative;
                            
                            .comment-list-outer {
                                @include flexCenter(65px, 95%, 10px 10px 20px 10px, center, center, column);
                                box-shadow: 2px 2px 3px #3d3f3f, -2px -2px 3px #9e9e9e;
                                position: absolute;
                                top: 8px;
                                right: 8px;

                                .comment-username {
                                    height: 15px;
                                    width: 90%;
                                    color: #ec6aa0;
                                    font-weight: bold;
                                    text-align: start;
                                    margin-bottom: 3px;
                                }
                                .comment-date {
                                    height: 15px;
                                    width: 90%;
                                    color: #efbfbf;
                                    font-size: 12px;
                                    text-align: start;
                                    margin-bottom: 10px;

                                }
                                .comment-text {
                                    min-height: 15px;
                                    width: 90%;
                                    text-align: start;
                                    color: white;
                                    word-wrap: break-word;
                                    font-size: 14px;
                                    // overflow-y: scroll;
                                    line-height: 1;
                                    margin-bottom: 5px;
                                }
                            }
                            
                            .comment-list-buttons {
                                @include flexCenter(45px, 100%, 50px, flex-start, center, row);
                                position: absolute;
                                bottom: 3px;
                                left: 0;
                                
                                .comment-popout-container {
                                    @include flexCenter(38px, 30px, 8px, flex-start, center, row);
                                    box-shadow: 0px 0px 0px #686a6b, 0px 0px 0px #686a6b;
                                    position: absolute;
                                    right: 8px;

                                    .clc-3, .clc-4 {
                                        opacity: 0;
                                        .clb-3, .clb-4 {
                                            @include flexCenter(26px, 26px, 50px, center, center, row);
                                        }
                                    }
                                    .dot-menu {
                                        @include flexCenter(100%, 30px, 0px, center, center, column);
                                        position: absolute;
                                        right: 0px;

                                        .dots {
                                            height: 10px;
                                            width: 10px;
                                            border-radius: 50px;
                                            box-shadow: inset 2px 2px 1px #4f4f4f, inset -2px -2px 1px #949292;                                        }
                                    }
                                }

                                .comment-likereply-container {
                                    @include flexCenter(100%, initial, 0px, flex-start, center, row);

                                    .comm-likereply-btn {
                                        @include flexCenter(28px, 28px, 50px, center, center, row);
                                        box-shadow: 2px 2px 3px #3d3f3f, -2px -2px 3px #939597;
                                        margin: 0px 8px 0px 8px;

                                        &:active {
                                            box-shadow: inset 2px 2px 3px #3d3f3f, 
                                                        inset -2px -2px 3px #989898;
                                        }
                                        
                                        .likes-number-container {
                                            @include flexCenter(30px, 30px, 100%, center, center, row);
                                            position: absolute;
                                            top: -10%;
                                            left: 8%;
                                            background: none;

                                            p {
                                                font-size: 13px;
                                                font-weight: bold;
                                                color: white;
                                            }
                                        }

                                        .social-icons {
                                            height: 1.2em;
                                            width: 1.2em;
                                        }

                                        .heart {
                                            height: 1.5em;
                                            width: 1.5em;
                                        }
                                    }

                                    .comm-likereply-text {
                                        display: flex;
                                        font-size: 13px;
                                        color: white;
                                        font-weight: bold;
                                        
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* ------------------- Comment Pop up (SEARCH RESULTS) ------------------------- */
.com-list-cont {

    .com-list-search {
        @include flexCenter(88%, 93%, 14px, center, center, row);
        margin-top: 4%;
        background: #686a6b;
        box-shadow: inset 2px 2px 3px #3d3f3f, inset -2px -2px 3px #9e9e9e;

        .com-search {
            @include flexCenter(85%, 90%, 12px, center, center, column);
            color: white;
            box-shadow: 2px 2px 3px #3d3f3f, -2px -2px 3px #9e9e9e;
            
            .search-results {
                @include flexCenter(90%, 94%, 0px, space-between, center, row);
            
                .search-username-container {
                    height: 100%;
                    width: 50%;
                    border-radius: 10px;
                    box-shadow: inset 2px 2px 3px #3d3f3f, 
                                inset -2px -2px 3px #9e9e9e;

                    p {
                        color: #ec6aa0;
                        font-weight: 700;
                        text-align: start;
                        width: 90%;
                        margin: auto;
                    }
                }
                
                .search-prof-container {
                    @include flexCenter(100%, 50%, 0px, center, center, row);
            
                    .search-prof-inset {
                        @include flexCenter(80%, 90%, 50%, center, center, row);
                        box-shadow: inset 2px 2px 3px #3d3f3f, 
                                    inset -2px -2px 3px #9e9e9e;
            
                        .search-prof-outset {
                            @include flexCenter(85%, 85%, 50%, center, center, row);
                            box-shadow: 2px 2px 3px #3d3f3f, 
                                        -2px -2px 3px #9e9e9e;
            
                            .search-results-link {
                                height: 90%;
                                width: 90%;
                                overflow: hidden;
                                border-radius: 50%;

                                img {
                                    height: 100%;
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.transitions {
    background: #efbfbf;
    box-shadow: inset 3px 3px 4px #bd9797, inset -3px -3px 4px #ffe7e7;
    border: 2px solid #df56a0;
}