@keyframes floatText {
    to {
      transform: translateX(-100%);
    }
}
@keyframes floatStop {
    to {
        transform: translateX(0%);
    }
}
@keyframes stopFloat {
    from {
        transform: translateX(0%)
    }
    to {
        transform: translateX(-100%)
    }
}
.SocialFeed {
    // height: 100%;
    // width: 100%;
    background: #000000eb;
    position: absolute;
}
.social-panel {
    height: 80%;
    width: 100%;
    position: relative;
    bottom: 0;
    transition: bottom .5s;
    overflow-y: hidden;

    .video-scroll-container {
        height: 100%; 
        width: 100%;
        scroll-snap-type: y mandatory;
        overflow-y: scroll;
        position: absolute;

        .video-pane {
            @include flexCenter(100%, 100%, 0px, flex-start, center, column);
            scroll-snap-align: start;
            scroll-snap-stop: always;
            background-size: cover;
            background-position-x: center;

            .last-div {
                height: 65%;
                width: 85%;
                margin-top: 10%;
                border-radius: 20px;
                box-shadow: 2px 2px 3px #00000099, -2px -2px 2px #ffffff7a;
            }
            
        }
    }
    .video-details-container {
        @include flexCenter(130px, 356px, 55px, center, center, row);
        position: absolute;
        border: 1px solid $charcoalBg;
        background-image: url('../images/bg-transparent2.png');
        background-size: cover;
        background-position: center;
        z-index: 10;
        bottom: 3%;
        left: 2.5%;
        box-shadow: 0px 8px 20px 0px #00000099;
    
        .transparent-test {
            @include flexCenter(90%, 96.5%, 49px, space-around, center, row);
            box-shadow: inset 3px 3px 6px #353535, inset -2px -2px 3px #8c8f90; 

            .user-details-container {
                @include flexCenter(70%, 70%, 15px, center, center, row);
                margin-left: 5%;
                background-position: 24% 50%;
                box-shadow: 2px 2px 5px #2a2a2b, -2px -2px 2px #7b7b7b;

                .user-details-inset {
                    @include flexCenter(80%, 92%, 10px, center, flex-start, column);
                    color: white;
                    border: 2px solid #5a5a5a;
                    box-shadow: inset 3px 3px 4px #2d2d2d, inset -2px -2px 3px #8c8f90;
                    .text-container {
                        @include flexCenter(90%, 100%, 0px, flex-start, flex-start, column);
                        overflow-x: hidden;
                        padding-left: 5px;
                        // position: relative;
                        // bottom: -11.5%;
                        // left: -7%;
        
                        // .ud-text {
                        //     white-space: nowrap;
                        //     width: 95%;
                        //     text-align: left;
                        //     display: inline-block;
                        //     transform: translateX(110%)
                        // }

                        .udt-1 {
                            height: 30%;
                            white-space: nowrap;
                            text-align: left;
                            
                            // transform: translateX(100%);
                            // animation: floatText 2.2s linear infinite;
                            font-size: 17px;
                            font-weight: bold;
                            line-height: 1;
                        }
                        .udt-2 {
                            height: 30%;
                            white-space: nowrap;
                            text-align: left;
                            
                            // transform: translateX(100%);
                            // animation: floatText 2.2s linear infinite;
                            color: white;
                            font-size: 15px;
                        }
                        .udt-3 {
                            height: 30%;
                            white-space: nowrap;
                            text-align: left;
                            
                            // transform: translateX(100%);
                            // animation: floatText 5.3s linear infinite;
                            color: white;
                            font-size: 12px;
                        }
                    }
                }
            }
            .user-profile-image {
                @include flexCenter(70%, 20%, 0px, center, center, row);

                .social-p {
                    @include flexCenter(80%, 90%, 50%, center, center, row);
                    margin-right: 3%;
                    box-shadow: 2px 2px 5px #2a2a2b, -2px -2px 3px #7b7b7b;

                    .inset-social-p {
                        @include flexCenter(70%, 70%, 50%, center, center, row);
                        box-shadow: 2px 2px 5px #2a2a2b, -2px -2px 3px #7b7b7b;

                        &:active {
                            box-shadow: inset 2px 2px 3px #313232, 
                                      inset -2px -2px 3px #9fa2a4;
                        }
                        .bi-play {
                            font-size: .9em;
                            margin-left: 3px;
                        }
                    }
                }
            }

        }
    }
}
/* ------------------------------ Comment Pop Up menu ------------------------------------------*/
.comment-pop-out {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 0px;
    width: 100%;
    // z-index: -1;
    position: absolute;
    bottom: 20%;
    background: #ecf0f3;
    border-radius: 30px 30px 0px 0px;
    transition: height .5s;

    .inner-com {
        @include flexCenter(90%, 96%, 25px, flex-start, center, column);
        // margin: 2% 0% 1% 0%;
        background: #ecf0f3;
        box-shadow: inset 2px 2px 4px #cccccc, inset -2px -2px 4px #ffffff;

        .com-cont-1 {
            @include flexCenter(30%, 100%, 0px, center, center, row);

            .input-container {
                @include flexCenter(75%, 93%, 20px, center, center, row);
                background: #ecf0f3;
                box-shadow: inset 2px 2px 4px #d0d1d2, inset -2px -2px 7px #ffffff;

                .input-inset {
                    @include flexCenter(70%, 91%, 15px, center, center, row);
                    box-shadow: inset 2px 2px 4px #d0d1d2, inset -2px -2px 7px #ffffff;

                    .social-comment-form {
                        @include flexCenter(100%, 100%, 0px, center, center, row);
                        
                        .social-comment-input {
                            font-family: inherit;
                            font-size: 1em;
                            height: 50%;
                            width: 81%;
                            border-radius: 20px;
                            border: 1px solid #686a6b;
                            padding-left: 5%;
                            background: #686a6b;
                            box-shadow: inset 2px 2px 3px #4c4c4c, inset -1px -1px 3px #b3b1b1;
                        
                            &:defined {
                                color: pink;
                            }
                            &::placeholder {
                                color: #adadad;
                            }
                            &:focus {
                                border: 2px solid pink;
                                outline: none !important;
                                color: white;
                                border-radius: 20px;
                            }
                        }

                    }
                }
            }
        }


        .com-cont-2 {
            @include flexCenter(67%, 93%, 25px, center, center, row);
            box-shadow: 2px 2px 4px #d0d1d2, -2px -2px 4px #ffffff;

            .comments-container {
                @include flexCenter(88%, 93%, 24px, center, center, row);
                box-shadow: 2px 2px 4px #d0d1d2, -2px -2px 4px #ffffff;

                .comment-list-container {
                    @include flexCenter(88%, 92%, 15px, flex-start, center, column);
                    overflow-y: scroll;
                    background: #686a6b;
                    box-shadow: inset 2px 2px 3px #3d3f3f, inset -2px -2px 3px #afafaf;

                    .comment-list {
                        @include flexCenter(80px, 93%, 20px, center, center, row);
                        margin-top: 4%;
                        background: #686a6b;
                        box-shadow: inset 2px 2px 3px #3d3f3f, inset -2px -2px 3px #9e9e9e;

                        .comment-list-inner {
                            @include flexCenter(85%, 95%, 15px, flex-start, center, column);
                            position: relative;
                            box-shadow: 2px 2px 3px #3d3f3f, -2px -2px 3px #9e9e9e;
            
                            .comment-username {
                                color: #ec6aa0;
                                font-weight: bold;
                                text-align: start;
                                width: 90%;
                                margin: auto;
                            }
                            .comment-text {
                                height: 50%;
                                width: 90%;
                                text-align: start;
                                color: white;
                                word-wrap: break-word;
                                font-size: 14px;
                                overflow-y: scroll;
                                line-height: 1;
                            }
                        }
                    }
                }
            }
        }
    }

    .bottom-bar {
        height: 4%;
        width: 96%;
        margin: 2% 0% 0% 0%;
        border-radius: 20px;
        background: #ecf0f3;
        box-shadow: inset 2px 2px 3px #bdc0c2, inset -2px -2px 3px #ffffff;
    }
}

/* ------------------- Comment Pop up (SEARCH RESULTS) ------------------------- */
.com-list-cont {

    .com-list-search {
        @include flexCenter(88%, 93%, 14px, center, center, row);
        margin-top: 4%;
        background: #686a6b;
        box-shadow: inset 2px 2px 3px #3d3f3f, inset -2px -2px 3px #9e9e9e;
        .com-search {
            @include flexCenter(85%, 90%, 12px, center, center, column);
            color: white;
            box-shadow: 2px 2px 3px #3d3f3f, -2px -2px 3px #9e9e9e;
            
            .search-results {
                @include flexCenter(90%, 94%, 0px, space-between, center, row);
            
                .search-username-container {
                    height: 100%;
                    width: 50%;
                    border-radius: 10px;
                    box-shadow: inset 2px 2px 3px #3d3f3f, 
                                inset -2px -2px 3px #9e9e9e;
                    p {
                        color: #ec6aa0;
                        font-weight: 700;
                        text-align: start;
                        width: 90%;
                        margin: auto;
                    }
                }
                
                .search-prof-container {
                    @include flexCenter(100%, 50%, 0px, center, center, row);
            
                    .search-prof-inset {
                        @include flexCenter(80%, 90%, 50%, center, center, row);
                        box-shadow: inset 2px 2px 3px #3d3f3f, 
                                    inset -2px -2px 3px #9e9e9e;
            
                        .search-prof-outset {
                            @include flexCenter(85%, 85%, 50%, center, center, row);
                            box-shadow: 2px 2px 3px #3d3f3f, 
                                        -2px -2px 3px #9e9e9e;
            
                            .search-results-link {
                                height: 90%;
                                width: 90%;
                                overflow: hidden;
                                border-radius: 50%;
                                img {
                                    height: 100%;
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@mixin scrollingText() {
    @keyframes scrollAnim {

    }
}