
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@mixin flexCenter(
  $height: 100%,
  $width: 100%,
  $border-radius: none,
  $justify: center,
  $align: center,
  $direction: row
) {
  height: $height;
  width: $width;
  border-radius: $border-radius;
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

html,
body,
#root,
.App,
.Home,
.TestAudio,
.EditLyrics,
.Profile,
.EditProfileScreen,
.SongScreen,
.Search,
.LogIn {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

body, #root {
  position: relative;
}

.App {
  text-align: center;
  position: relative;
}

input, textarea, select, button { 
  font-family: inherit; 
  border: none;
  background: initial;
}

@media screen and (min-width: 500px) {
  html {
    background: #282727;
    margin: auto;
    width: 360px;
    height: 100vh;
  }
}

@import './NavBar';
@import './Search';
@import './Home';
@import './TestAudio';
@import './EditLyrics';
@import './SongScreen';
@import './Profile';
@import './AuthLogin';
@import './EditProfile';
@import './Buttons';
@import './RecordingBoothModal';


