@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

$charcoalBg: #686a6b;
$lightgrayBg: #ecf0f3;

@mixin flexCenter($height: 100%, $width: 100%, $border-radius: none, $justify: center, $align: center, $direction: row) {
    height: $height;
    width: $width;
    border-radius: $border-radius;
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin pageIndicator($name, 
                     $bsX1, $bsX1-2, $bsBlur1, $bsColor1, $bsColor2,
                     $bsX2, $bsX2-2, $bsBlur2, $bsColor1-2, $bsColor2-2, 
                     $background, $background2, 
                     $height, $height2,
                     $width, $width2, $bsSetCheck: "", $bsSet2: inset) {
  @if $bsSetCheck != "" {
    @keyframes #{$name} {
      from {
        box-shadow: $bsX1 $bsX1 $bsBlur1 $bsColor1, $bsX1-2 $bsX1-2 $bsBlur1 $bsColor2;
        background: $background;
        height: $height;
        width: $width;
      }
      to {
        box-shadow: $bsSet2 $bsX2 $bsX2 $bsBlur2 $bsColor1-2, $bsSet2 $bsX2-2 $bsX2-2 $bsBlur2 $bsColor2-2;
        background: $background2;
        height: $height2;
        width: $width2;
      }
    }
  }
  @else {
    @keyframes #{$name} {
      from {
        box-shadow: $bsSet2 $bsX1 $bsX1 $bsBlur1 $bsColor1, $bsSet2 $bsX1-2 $bsX1-2 $bsBlur1 $bsColor2;
        background: $background;
        height: $height;
        width: $width;
      }
      to {
        box-shadow: $bsX2 $bsX2 $bsBlur2 $bsColor1-2, $bsX2-2 $bsX2-2 $bsBlur2 $bsColor2-2;
        background: $background2;
        height: $height2;
        width: $width2;
      }
    }
  }
}
@keyframes iconScale {
  from {
    transform: scale(1)
  }
  to {
    transform: scale(.85)
  }
}

@include pageIndicator(rim, 2px, -2px, 3px,#b7b8b9, #ffffff, 2px, -2px, 3px,#3c3c3c,#b2b2b2, #ecf0f3, #686a6b, 70%, 70%, 60%, 60%, "x", inset);
@include pageIndicator(out, 2px, -2px, 4px,#cacaca,#ffffff, 1px, -1px, 3px, #353535, #afafaf, #ecf0f3, #686a6b, 90%, 77%, 92%, 77%, "", inset);
@include pageIndicator(in, 2px, -2px, 3px,#b0b1b3, #ffffff, 2px, -2px, 3px,#3f4040, #a7a7a7, #ecf0f3, #686a6b, 70%, 75%, 70%, 75%, "x", inset);

.fade-appear,
.fade-enter {
  left: 100vw;
  z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
  left: 0;
  transition: left 400ms linear
}
.fade-exit {
  left: 0;
}
.fade-exit.fade-exit-active {
  left: -100vw;
  transition: left 400ms linear;
}
.fadeRight-appear,
.fadeRight-enter {
  left: -100vw;
  z-index: 1;
}
.fadeRight-appear-active,
.fadeRight-enter.fadeRight-enter-active {
  left: 0;
  transition: left 400ms linear
}
.fadeRight-exit {
  left: 0;
}
.fadeRight-exit.fadeRight-exit-active {
  left: 100vw;
  transition: left 400ms linear;
}

* {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  display: none;
}

html, body, #root, .App {
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
  // font-family: 'Poppins', sans-serif;

}

.Home, 
.TestAudio, 
.SocialFeed, 
.Profile, 
.EditProfileScreen, 
.SongScreen,
.LogIn {
  height: 100vh;
  width: 100vw;

}

@media screen and (min-width: 800px) {
  html {
    margin: auto;
    height: 715px;
    width: 375px;
    font-family: 'Roboto', sans-serif;
    // font-family: 'Poppins', sans-serif;

  }
  body, 
  #root, 
  .App, 
  .Home, 
  .TestAudio, 
  .SocialFeed, 
  .SongScreen,
  .Profile, 
  .EditProfileScreen,
  .LogIn {
    height: 715px;
    width: 375px;
  }
  .SocialFeed {
    .social-panel {
      .video-scroll-container {
        .video-pane {
          .text-container {
            bottom: -9%;
          }
        }
      }
    }
  }
}

.App {
  // height: 100%;
  // width: 100%;
  margin-top: -5px;
  text-align: center;
}

@import './NavBar';
@import './HamburgerMenu';
@import './Home';
@import './TestAudio';
@import './SocialFeed';
@import './SongScreen';
@import './Profile';
@import './AuthLogin';
@import './EditProfile';
@import './Buttons';
@import './ModalAndNotifications';


:root {
  --routedi2bg: #ecf0f3;
  --menuOpacity: 0;
  --btnOpacity: 0;

  --mo6opacity: 0;
  --mo5opacity: 0;
  --mo4opacity: 0;
  --mo3opacity: 0;
  --mo2opacity: 0;
  --mo1opacity: 0;

  --link-color-6: #686a6b;
  --link-color-5: #686a6b;
  --link-color-4: #686a6b;
  --link-color-3: #686a6b;
  --link-color-2: #686a6b;
  --link-color-1: #686a6b;

  --anim-dip-6: btnDip .3s forwards;
  --anim-pop-6: btnPop .3s .3s forwards;
  --anim-dip-5: btnDip .3s forwards;
  --anim-pop-5: btnPop .3s .3s forwards;
  --anim-dip-4: btnDip .3s forwards;
  --anim-pop-4: btnPop .3s .3s forwards;
  --anim-dip-3: btnDip .3s forwards;
  --anim-pop-3: btnPop .3s .3s forwards;
  --anim-dip-2: btnDip .3s forwards;
  --anim-pop-2: btnPop .3s .3s forwards;
  --anim-dip-1: btnDip .3s forwards;
  --anim-pop-1: btnPop .3s .3s forwards;
}
@keyframes btnDip {
  0% {
    box-shadow: inset 0px 0px 0px #919292, inset -0px -0px 0px #919292;
  }
  100% {
    box-shadow: inset 3px 3px 3px #737373, inset -2px -2px 3px #e6e6e6;
  }
}
@keyframes btnPop {
  0% {
    box-shadow: 0px 0px 0px #919292, -0px -0px 0px #919292;
    background: linear-gradient(139deg, #d9dada, #919292);
  }
  50% {
    background: linear-gradient(139deg, #d9dada, #919292);
    box-shadow: 3px 3px 3px #727272, -2px -2px 3px #ececec;
    --link-color-6: #919292;
    --link-color-5: #919292;
    --link-color-4: #919292;
    --link-color-3: #919292;
    --link-color-2: #919292;
    --link-color-1: #919292;
  }
  100% {
    box-shadow: 3px 3px 3px #727272, -2px -2px 3px #ececec;
    background: linear-gradient(139deg, #d9dada, #919292);
    --link-color-6: #ec6aa0;
    --link-color-5: #ec6aa0;
    --link-color-4: #ec6aa0;
    --link-color-3: #ec6aa0;
    --link-color-2: #ec6aa0;
    --link-color-1: #ec6aa0;
  }
}
@keyframes massiveMenu {
  0% {
    --menuOpacity: 1;
  }
  14% {
    --mo6opacity: 1;
    --anim-dip-6: btnDip .3s forwards;
    --anim-pop-6: btnPop .3s .35s forwards;
  }
  28% {
    --mo3opacity: 1;
    --anim-dip-3: btnDip .3s forwards;
    --anim-pop-3: btnPop .3s .3s forwards;
  }
  44% {
    --mo5opacity: 1;
    --anim-dip-5: btnDip .3s forwards;
    --anim-pop-5: btnPop .3s .3s forwards;
  }
  58% {
    --mo2opacity: 1;
    --anim-dip-2: btnDip .3s forwards;
    --anim-pop-2: btnPop .3s .3s forwards;
  }
  72% {
    --mo4opacity: 1;
    --anim-dip-4: btnDip .3s forwards;
    --anim-pop-4: btnPop .3s .3s forwards;
  }
  86% {
    --mo1opacity: 1;
    --anim-dip-1: btnDip .3s forwards;
    --anim-pop-1: btnPop .3s .3s forwards;
  }
  100% {
    --menuOpacity: 1;
    --mo6opacity: 1;
    --mo5opacity: 1;
    --mo4opacity: 1;
    --mo3opacity: 1;
    --mo2opacity: 1;
    --mo1opacity: 1;
  }
}

@keyframes notify {
    0% {
        margin-left: 100vw;}
    50% {
        margin-left:65vw}
    100%{
        margin-left: 100vw;}
}
@keyframes hideNotify {
    from {
      width:25vw
    }
    to {
      width:0vw
    }
}