/* ------------------------------ Comment Pop Up menu ------------------------------------------*/
.CommentMenu {
  @include flexCenter(0%, 100%, 0, flex-start, center, column);
  background: linear-gradient(0deg, #a09e9e 0%, #b9b9b9 100%);
  box-shadow: 0px 10px 10px #000000a3;
  position: relative;
  top: 0;
  transition: height 0.5s ease-out;

  .comments__list--container {
    @include flexCenter(80%, 100%, 0, flex-end, center, column);

    .comments__list--shadow-outset {
      @include flexCenter(97%, 96%, 0.5em 0.5em 0.5em 3em, center, center, column);
      box-shadow: 2px 3px 4px #414141, -2px -2px 3px #ffffff;

      .comments__list--shadow-inset {
        @include flexCenter(97%, 97%, 0.5em 0.5em 0.5em 3em, center, center, column);
        box-shadow: inset 2px 2px 3px #3d3f3f, inset -2px -3px 2px #ffffff;
        overflow: hidden;

        .comments__list {
          @include flexCenter(95%, 97%, 0.4em 0.4em 0.4em 2.6em, flex-start, center, column);
          overflow-y: scroll;
          background: linear-gradient(313deg, #383737, #767676);
          box-shadow: inset 3px 3px 3px #303030, inset -2px -2px 2px 0px #303030;

          .comments__item {
            width: 96%;
            border-radius: 0.4em;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-top: 2%;
            box-shadow: inset 2px 2px 4px #313131, inset -2px -2px 3px #777777;

            .comment-list-inner {
              @include flexCenter(auto, 100%, 0, space-evenly, flex-start, row);

              .comment-list-photo {
                @include flexCenter(98%, 22%, 0, center, flex-start, row);
                padding-top: 1.5%;

                .comment-photo-inner {
                  @include flexCenter(4em, 82%, 0.3em 2em 2em 2em, center, center, column);
                  box-shadow: inset 2px 2px 3px #353535, inset -2px -2px 3px #9d9d9d;

                  .comment-photo-outer {
                    @include flexCenter(80%, 80%, 100vh, center, center, row);
                    box-shadow: 2px 2px 3px #3b3b3b, -2px -2px 2px #adadad;

                    a {
                      @include flexCenter(90%, 90%, 100vh, center, center, row);
                      overflow: hidden;
                      object-fit: contain;

                      img {
                        height: 100%;
                        width: 100%;
                      }
                    }
                  }
                }
              }

              .comments__text--container {
                @include flexCenter(auto, 78%, 0, center, flex-start, column);

                .comments__text--shadow-outset {
                  @include flexCenter(auto, 97%, 2em 0.3em 2em 0.5em, center, center, column);
                  box-shadow: 2px 2px 3px #2f2f2f, -2px -2px 2px #989898;
                  margin-top: 3%;

                  .comments__user-details {
                    @include flexCenter(30px, 96%, 1.6em 0.2em 1.8em 0.2em, center, center, column);
                    box-shadow: inset 2px 2px 3px #823756, inset -1px -1px 2px #ffd6e7;
                    margin: 2% 0% 2% 0%;
                    background: #ec6aa0;

                    .comments__username {
                      display: flex;
                      align-items: center;
                      width: 90%;
                      margin-left: 10%;
                      font-size: 1rem;
                      color: white;
                      font-weight: bold;
                      text-align: start;

                      span {
                        color: #efbfbf;
                        font-weight: bold;
                        font-size: 0.75rem;
                        margin-left: 0.4em;
                      }
                    }
                    .comments__date {
                      width: 90%;
                      margin-left: 10%;
                      font-size: 0.75rem;
                      color: #efbfbf;
                      text-align: start;
                    }
                  }
                  .comments__comment {
                    height: fit-content;
                    width: 90%;
                    text-align: start;
                    color: white;
                    word-wrap: break-word;
                    font-size: 0.95rem;
                    line-height: 1;
                    margin-bottom: 5px;
                  }
                }
              }
            }

            .comments__actions--container {
              @include flexCenter(2.5em, 100%, 0, flex-start, center, row);
              margin: 2% 0% 2% 0%;

              .space-filler {
                @include flexCenter(100%, 22%, 0, center, center, row);
              }

              .comments__actions {
                @include flexCenter(100%, 78%, 0, flex-start, center, row);

                .comments__actions--shadow-inset {
                  @include flexCenter(100%, 97%, 30px 5px 15px 30px, flex-start, center, row);
                  box-shadow: inset 2px 2px 4px #2b2b2b, inset -2px -2px 2px #858484;

                  .comments__btn--container {
                    @include flexCenter(100%, 40%, 0px, center, center, row);
                    margin-left: 2%;

                    .comments__btn {
                      @include flexCenter(68%, 95%, 4px, center, center, row);
                      box-shadow: 2px 2px 3px #353535, -2px -2px 2px #858585;

                      .comments__btn-icon {
                        @include flexCenter(100%, 32%, 0, center, center, row);
                        // box-shadow: 2px 2px 3px #3d3f3f, -2px -2px 3px #939597;

                        img.reply {
                          height: 1rem;
                        }
                        img.like {
                          height: 1.3rem;
                        }
                        img.edit {
                          height: 1.4rem;
                        }
                        img.delete {
                          height: 1.6rem;
                        }
                      }
                      .comments__btn-icon.edit,
                      .comments__btn-icon.delete {
                        width: 40%;
                      }

                      &:active {
                        background: #606060;
                        box-shadow: inset 2px 2px 3px #353535, inset -2px -2px 2px #858585;
                      }

                      .comments__btn-text--container {
                        @include flexCenter(100%, 68%, 0, center, center, row);

                        .comments__btn-text {
                          @include flexCenter(100%, 50%, 0, flex-start, center, row);
                          font-weight: bold;
                          font-size: 0.8rem;
                          color: white;
                        }
                        .comments__btn-text.reply {
                          width: 60%;
                        }
                        .comments__btn-text.delete,
                        .comments__btn-text.edit {
                          width: 100%;
                        }
                        .comments__btn-number.like {
                          color: pink;
                          font-size: 0.75rem;
                        }
                        .comments__btn-number.reply {
                          width: 40%;
                          color: pink;
                          font-size: 0.75rem;
                        }
                      }
                    }

                    .comment-like-btn-pressed {
                      box-shadow: 2px 2px 3px #3e2c33, -2px -2px 2px #ffcae0;
                      background: #ec6aa0;

                      .comments__btn-icon {
                        img {
                          filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(293deg)
                            brightness(107%) contrast(103%);
                        }
                      }

                      &:active {
                        background: #606060;
                        box-shadow: inset 2px 2px 3px #353535, inset -2px -2px 2px #858585;
                        transition: all 0.3s ease-in;
                      }
                    }
                  }
                  .clc-2 {
                    justify-content: flex-start;
                  }

                  .comment-popout-container {
                    @include flexCenter(auto, 30%, 8px, flex-start, center, row);
                    box-shadow: 0px 0px 0px #686a6b, 0px 0px 0px #686a6b;
                    position: relative;

                    .clc-3,
                    .clc-4 {
                      .clb-3,
                      .clb-4 {
                        @include flexCenter(26px, 26px, 50px, center, center, row);
                      }
                    }
                    .dot-menu {
                      @include flexCenter(100%, 30px, 0px, center, center, column);
                      position: absolute;
                      right: 11px;

                      .dots {
                        height: 9px;
                        width: 9px;
                        border-radius: 50px;
                        box-shadow: inset 2px 2px 1px #3b3b3b, inset -2px -2px 1px #949292;
                      }
                    }
                  }
                }
              }
            }
          }
          //class to apply on list item being EDITED
          .highlight {
            background: #e24f8c;
            box-shadow: inset 2px 2px 4px #7a3250, inset -2px -2px 3px #ffbdd9;
            .comment-list-inner {
              .comment-list-photo {
                .comment-photo-inner {
                  box-shadow: inset 2px 2px 4px #7a3250, inset -2px -2px 3px #ffbdd9;
                  .comment-photo-outer {
                    box-shadow: 2px 2px 4px #7a3250, -2px -2px 3px #ffbdd9;
                  }
                }
              }
              .comments__text--container {
                .comments__text--shadow-outset {
                  box-shadow: 2px 2px 4px #7a3250, -2px -2px 3px #fba3c8;
                  .comments__user-details {
                    .comments__username {
                      color: #ffbdd9;
                      span {
                        color: #fe83b6;
                      }
                    }
                  }
                  .comments__comment {
                    color: #fe83b6;
                  }
                }
              }
            }
            .comments__actions--container {
              .comments__actions {
                .comments__actions--shadow-inset {
                  box-shadow: inset 2px 2px 4px #7a3250, inset -2px -2px 3px #ffbdd9;
                  .comments__btn--container {
                    .comments__btn {
                      box-shadow: 2px 2px 4px #7a3250, -1px -1px 3px #ffbdd9;

                      .comments__btn-icon {
                        img {
                          filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(293deg)
                            brightness(107%) contrast(103%);
                        }
                      }
                      .comments__btn-text--container {
                        .comments__btn-text {
                          color: #ff9fc7;
                        }
                      }
                    }
                    .comments__btn.edit {
                      background: #d43a7a;
                      box-shadow: inset 2px 2px 4px #7a3250, inset -1px -1px 3px #ffbdd9;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .comments__header--container {
    @include flexCenter(20%, 100%, 0, center, center, column);

    .comments__header--shadow-outset {
      @include flexCenter(76%, 97%, 5em 0.5em 0.5em 5em, center, center, row);
      box-shadow: 2px 3px 4px #414141, -2px -2px 3px #ffffff;

      .comments__header--shadow-inset {
        @include flexCenter(86%, 98%, 100vh, center, center, row);
        box-shadow: inset 2px 2px 3px #3d3f3f, inset -2px -3px 2px #ffffff;

        .comments__back-btn--container {
          @include flexCenter(100%, 18%, 0, center, center, row);

          .comments__back-btn {
            @include flexCenter(68%, 80%, 10em 1em 1em 10em, center, center, row);
            box-shadow: 2px 3px 4px #414141, -2px -2px 3px #ffffff;

            &:active {
              box-shadow: inset 2px 2px 3px #434343, inset -2px -3px 2px #dfdfdf;
            }
          }
        }

        .comments__title--container {
          @include flexCenter(100%, 82%, 0, flex-start, center, row);

          .comments__title--shadow-outset {
            @include flexCenter(68%, 98%, 1em 10em 10em 1em, flex-start, center, row);
            box-shadow: 2px 3px 4px #414141, -2px -2px 3px #ffffff;

            .comments__text {
              width: 32%;
              color: white;
              text-align: start;
              text-indent: 5%;
            }

            p {
              color: #efbfbf;
            }
          }
        }
      }
    }
  }
}

.show-menu {
  height: 40%;
  margin-bottom: -8%;
  z-index: 5;
  transition: height 0.3s ease-in;

  .comments__list--container {
    opacity: 1;
    transition: opacity 0.2s 0.2s;
  }
  .comments__header--container {
    opacity: 1;
  }
}

.hide-menu {
  height: 0%;
  opacity: 0;
  margin-bottom: 0%;
  visibility: hidden;
  transition: height 0.5s ease-in, border-radius 0.5s ease-in, opacity 0.1s 0.5s,
    visibility 0.1s 0.5s;

  .comments__list--container {
    opacity: 0;
    transition: opacity 0.2s;
  }
  .comments__header--container {
    opacity: 0;
    transition: opacity 0.2s 0.5s;
  }
}

// stick input that will appear above mobile keyboard
.CommentInputModal {
  @include flexCenter(auto, 100%, 0.5em 0.5em 0em 0em, center, center, row);
  min-height: 45px;
  background: linear-gradient(0deg, #a09e9e 0%, #b9b9b9 100%);
  box-shadow: 0px -10px 30px #000000ba;
  padding: 0.4em 0em 0.4em 0em;
  bottom: 0;
  z-index: 5;

  .comment-input__form {
    @include flexCenter(auto, 97%, 0.35em 0.35em 2em 0.8em, center, flex-start, column);
    box-shadow: inset 2px 2px 3px #505050, inset -2px -2px 2px #ffffff;
    padding: 0.4em 0em 0em 0em;

    .comment-input__input--container {
      @include flexCenter(auto, 100%, 0, center, center, row);

      .comment-input__input {
        font-size: 0.95rem;
        height: auto;
        min-height: 40px;
        max-height: 110px;
        width: 91%;
        border-radius: 0.3em 0.3em 1.5em 0.5em;
        border: 2px solid #afafaf;
        padding: 2%;
        background: #686a6b;
        box-shadow: inset 3px 3px 3px #494949, inset -2px -2px 2px #ffffff;

        &:defined {
          color: pink;
        }
        &::placeholder {
          color: #adadad;
          font-size: 1rem;
        }
        &:focus {
          border: 2px solid #ff7fb4;
          outline: none !important;
          color: white;
          border-radius: 0.3em 0.3em 1.5em 0.5em;
          box-shadow: inset 2px 2px 3px #5f4650, inset -2px -2px 2px #ffdeec;
          padding-left: 2%;
        }
      }
    }

    .comment-input__header {
      @include flexCenter(2em, 95%, 0, center, center, row);

      .comment-input__title--container {
        @include flexCenter(100%, 55%, 0, flex-start, center, row);

        .comment-input__title {
          @include flexCenter(65%, 93%, 2em 0.5em 0.5em 2em, center, center, row);
          box-shadow: 2px 2px 3px #686868, -1px -1px 2px #ffffff;
          margin-left: 4%;

          h2 {
            width: 100%;
            text-indent: 6%;
            color: #ec6aa0;
          }
        }
      }

      .comment-input__btn--container {
        @include flexCenter(100%, 45%, 0, center, center, row);

        .comment-input__btn {
          @include flexCenter(100%, 50%, 0, flex-start, center, row);

          &--cancel {
            @include flexCenter(65%, 94%, 0.3em, center, center, row);
            box-shadow: 2px 2px 3px #686868, -1px -1px 2px #ffffff;
            color: #707070;
            font-size: 0.9rem;
            &:active {
              box-shadow: inset 2px 2px 3px #686868, inset -1px -1px 2px #ffffff;
            }
          }

          &--submit {
            @include flexCenter(65%, 94%, 0.5em 0.5em 2.5em 0.5em, flex-start, flex-start, row);
            box-shadow: 2px 2px 3px #373737, -2px -1px 2px #e7e7e7;
            background: #ec6aa0;

            img {
              margin-right: 0.3em;
            }
            &:active {
              box-shadow: inset 2px 2px 3px #783853, inset -1px -1px 2px #ffffff;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 500px) {
  .CommentInputModal {
    width: (100vh * 0.46);
  }
}
