.ErrorModal {
  @include flexCenter(100%, 100%, 0, center, stretch, row);
  position: absolute;
  background: #00000066;
  opacity: 0;
}

.error-container {
  @include flexCenter(50px, 96%, 50px, center, center, row);
  background: linear-gradient(327deg, #959595 0%, #cdcdcd 100%);
  position: absolute;
  top: 58.5%;
  //left

  .error_shadow-div-inset {
    @include flexCenter(84%, 97.5%, 50px, center, center, row);
    box-shadow: inset 3px 3px 4px #3e3e3e, inset -2px -2px 3px #ffffff;

    .error-icon-container {
      @include flexCenter(100%, 20%, 0, flex-end, center, row);

      .error-icon_shadow-div-outset {
        @include flexCenter(80%, 92%, 30px 5px 5px 30px, center, center, row);
        box-shadow: 2px 2px 2px #545454, -2px -2px 2px #f7f7f7;

        .error-icon_shadow-div-inset {
          @include flexCenter(86%, 91%, 30px 5px 5px 30px, center, center, row);
          box-shadow: inset 2px 2px 2px #707070, inset -2px -2px 2px #eeeeee;

          .error-icon_shadow-div-outset_2 {
            @include flexCenter(73%, 76%, 50px, center, center, row);
            box-shadow: 2px 2px 2px #606060, -1px -1px 2px #f2f2f2;
            background: #f25f5f;
            // margin-right: 12%;

            img {
              filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(293deg) brightness(107%) contrast(103%);
            }
          }
        }
      }
    }
    .error-text-container {
      @include flexCenter(100%, 80%, 0, center, center, row);

      .error-text_shadow-div-outset {
        @include flexCenter(78%, 96%, 5px 30px 30px 5px, center, center, column);
        box-shadow: 2px 2px 3px #444444, -2px -2px 2px #ffffff;
        background: #f25f5f;
        h5 {
          @include flexCenter(40%, 95%, 5px 30px 30px 5px, center, flex-start, column);
          color: white;
        }
        p {
          @include flexCenter(60%, 95%, 5px 30px 30px 5px, center, flex-start, column);
          font-size: .9rem;
          color: white;
        }
      }
    }
  }
}

// red error box
.ErrorModal {
  @include flexCenter(100%, 100%, 0, center, stretch, row);
  position: absolute;
  background: #00000000;
  top: 0;
  opacity: 0;

  .error-container--red {
    @include flexCenter(50px, 81%, 50px, center, center, row);
    position: absolute;
    background: #f97171;
    top: 25.5%;
    box-shadow: -2px 7px 10px 1px #000000a1;

    .error--shadow-inset {
      @include flexCenter(82%, 97%, 50px, center, center, row);
      box-shadow: inset 2px 2px 3px #7f4545, inset -2px -2px 2px 0px #ffe5e5;

      .icon-container {
        @include flexCenter(100%, 14%, 50px, center, center, row);

        .icon--shadow-outset {
          @include flexCenter(70%, 67%, 50px, center, center, row);
          box-shadow: 2px 2px 3px #633535, -2px -2px 2px 0px #ffd9d9;

          img {
            height: 80%;
            width: 80%;
            filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(293deg) brightness(107%) contrast(103%);
          }

          &:active {
            background: #ffbdbd;
            box-shadow: inset 2px 2px 4px #7c2626, inset -2px -2px 4px 0px #ffffff;
            transition: all .2s;
            img {
              filter: invert(51%) sepia(90%) saturate(1015%) hue-rotate(322deg) brightness(118%) contrast(95%);
            }
          }
        }
      }
      .text-container {
        @include flexCenter(100%, 86%, 50px, center, flex-start, column);

        .text--shadow-outset {
          @include flexCenter(74%, 98%, 50px, center, center, row);
          box-shadow:2px 2px 3px #944b4b, -2px -2px 2px 0px #fdc4c4;

          .text-err-icon-container {
            @include flexCenter(100%, 13%, 50px, center, center, column);

            .text-err-icon--shadow-inset {
              @include flexCenter(85%, 82%, 50px, center, center, column);
              box-shadow: inset 2px 2px 2px #8a5252, inset -2px -2px 2px 0px #ffdddd;

              img {
                height: 85%;
                width: 85%;
                filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(293deg) brightness(107%) contrast(103%);
              }
            }
          }
          .text-err-container {
            @include flexCenter(100%, 87%, 50px, center, flex-start, column);

            h6 {
              width: 94%;
              text-align: start;
              white-space: nowrap;
              text-indent: 2%;
              color: white;
            }
            p {
              width: 94%;
              text-align: start;
              white-space: nowrap;
              text-indent: 2%;
              line-height: .95;
              color: #ffe0e0;
              font-size: .9rem;
              overflow-x: scroll;
            }
          }
        }
      }
    }
  }
}