.Home {
  background: linear-gradient(345deg, #000000, #606060);
  position: relative;
}

.section-1_feed {
  height: 100%;
  width: 100%;
  position: relative;

  .section-1a_toggle-feed {
    @include flexCenter(6%, 100%, 0vh 0vh 3vh 3vh, center, center, row);
    background: linear-gradient(327deg, #959595 0%, #cdcdcd 100%);
    position: absolute;
    z-index: 2;

    .toggle-feed-container {
      @include flexCenter(100%, 99%, 0, space-around, center, row);

      .each-feed_shadow-div-inset {
        @include flexCenter(80%, 32%, .3vh, center, center, row);
        box-shadow: inset 2px 2px 3px #484747, inset -2px -2px 2px #ffffff;

        .each-feed_shadow-div-outset {
          @include flexCenter(75%, 90%, .4vh, center, center, column);
          box-shadow: 2px 2px 4px #505050, -2px -2px 2px #ffffff;

          .each-feed_shadow-div-inset-2 {
            @include flexCenter(77%, 93%, 65px, center, center, column);
            box-shadow: inset 1px 1px 3px #545454, inset -1px -1px 3px #ffffff;
            font-size: 1rem;
            color: #ec6aa0;
            font-weight: bolder;
          }
        }
        // classes to apply to toggle feed button when clicked
        .toggle-feed {
          height: 76%;
          width: 92%;
          background: #e24f8c;
          box-shadow: inset 2px 2px 3px #813052, inset -2px -2px 2px #fedeeb;
          transition: background .4s ease-in;

          .toggle-feed-2 {
            height: 68%;
            width: 91%;
            box-shadow: inset 1px 1px 3px #6c2341, inset -1px -1px 3px #eab4ca;
            color: white;
          }
        }
      }
    }
  }

  .video-scroll-container {
    position: absolute;
    height: 60%;
    width: 100%;
    margin-top: 8%;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: scroll;
    z-index: 1;

    .video-pane {
      @include flexCenter(100%, 100%, 0px, center, center, column);
      scroll-snap-align: start;
      scroll-snap-stop: always;
      background-size: cover;
      background-position-x: center;

      .last-div {
        @include flexCenter(87%, 94%, 5px, flex-start, flex-start, column);
        background: #0000008a;
        margin-bottom: 3%;
        overflow-y: scroll;

        .each-lyric-container {
          @include flexCenter(initial, 100%, 0px, flex-start, flex-start, row);

          .each-lyric-no {
            color: #ffc6de;
            font-size: 10px;
            margin-left: 1%;
          }

          .each-lyric-line {
            font-size: 13px;
            margin-left: 1%;
            color: #ec6aa0;
            text-align: start;
  
          }
        }
      }
    }
    .scroll-top-container {
      @include flexCenter(20px, 100%, 0px, center, center, row);
      background: black;
      position: fixed;
      bottom: 37%;
      color: white;
      font-size: 20px;

    }
  }

  .section-1c_song-details {
    //experimenting with border here
    @include flexCenter(40%, 100%, 4vh 0vh 0vh 0vh, space-evenly, center, column);
    background: linear-gradient(180deg, #b1b1b1 0%, #4f4f4f 100%);
    position: absolute;
    bottom: 0;
    z-index: 2;

    .song-details-1_actions {
      @include flexCenter(23%, 100%, 0, center, center, row);

      .actions_shadow-div-outset {
        @include flexCenter(81%, 96%, 4vh .5vh .5vh 4vh, center, center, row);
        box-shadow: 2px 3px 3px #494949, -2px -2px 3px 0px #ffffff;

        .actions_shadow-div-inset {
          @include flexCenter(85%, 97.5%, 4vh .5vh .5vh 4vh, stretch, center, row);
          box-shadow: inset 4px 4px 8px #404040, inset -3px -3px 3px 0px #ffffff;

          .action-btns-container {
            @include flexCenter(100%, 100%, 0, space-evenly, center, row);

            .action-btn_shadow-div-outset {
              @include flexCenter(77%, 30.5%, 4px, space-evenly, center, row);
              background: initial;
              box-shadow: 3px 3px 4px #505050, -2px -2px 2px 0px #ffffff;

              &:active {
                box-shadow: inset 2px 2px 5px #3d3f3f, inset -2px -2px 3px #989898;
                transition: box-shadow .5s;
              }

              .action-btn-icon_shadow-div-inset {
                @include flexCenter(100%, 32%, 0, center, center, row);
                color: #ec6aa0;
                list-style-type: none;

                img.follow {
                  height: 3rem;
                  width: 3rem;
                }
                img.like {
                  height: 1.85rem;
                  width: 1.85rem;
                }
                img.comment {
                  height: 1.5rem;
                  width: 1.5rem;
                }
              }

              .action-btn-container {
                @include flexCenter(100%, 68%, 0, flex-start, center, row);
                position: relative;
                
                .action-btn-text {
                  @include flexCenter(80%, 93%, 3px, center, center, column);
                  box-shadow: inset 1px 1px 3px #505050, inset -1px -1px 3px #ffffff;

                  p {
                    height: 50%;
                    width: 100%;
                    font-size: .9rem;
                    color: #ffd6d6;
                    overflow-x: hidden;
                  }
                }
              }
            }

            // class to apply on user liking, following, or commenting on a song
            .liked-followed-commented {
              background: #ec6aa0;
              box-shadow: 3px 3px 3px #502939, -1px -2px 2px 0px #fff1f7;
              .action-btn-icon_shadow-div-inset {
                img {
                  filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(293deg) brightness(107%) contrast(103%);
                }
              }
              .action-btn-text {
                box-shadow: inset 1px 1px 3px #3b272f, inset -2px -2px 3px #fdedf4;
                background: #c85886;
                color: #ffd1e4;
              }
            }
            // class to apply to comment button on press
            .comment-pressed {
              box-shadow: inset 3px 3px 3px #464646, inset -2px -2px 3px 0px #ffffff;
              background: #737373;
              transition: background .4s, box-shadow .4s;
              .action-btn-container {
                .action-btn-text {
                  height: 73%;
                  width: 91%;
                  box-shadow: 1px 1px 2px #414141, -1px -1px 3px #b3b3b3;
                }
              }
            }
          }
        }
      }
    }

    .song-details-2_song-data {
      @include flexCenter(77%, 100%, 0px, flex-start, center, column);

      .song-data-container {
        @include flexCenter(60%, 96%, .5vh .5vh .5vh 4.8vh, space-evenly, center, column);
        box-shadow: 1px 5px 10px #2a2a2a, -2px -2px 3px 0px #ffffff;

        .song-user-section {
          @include flexCenter(53%, 100%, 0, center, flex-end, row);

          .song-user-container {
            @include flexCenter(95%, 98%, .5vh .5vh 4.5vh 4.5vh, space-evenly, center, row);
            box-shadow: inset 3px 3px 5px #464646, inset -2px -2px 3px 0px #e9e9e9;

            .user-pic-container {
              @include flexCenter(100%, 26%, 0, flex-start, center, row);

              .user-pic_shadow-div-outset {
                @include flexCenter(80%, 84%, 45px 4px 4px 45px, flex-start, center, row);
                box-shadow: 3px 3px 5px #3c3c3c, -2px -2px 3px 0px #e9e9e9;
                margin-left: 8%;

                .user-pic_shadow-div-inset {
                  @include flexCenter(87%, 65%, 45px 6px 6px 45px, flex-start, center, row);
                  box-shadow: inset 2px 2px 2px #5d5d5d, inset -2px -2px 2px #cbcbcb;
                  margin-left: 5%;
                  position: relative;

                  img {
                    height: calc(5vh * .9);
                    width: calc(5vh * .9);
                    border-radius: 50px;
                    margin-left: 11%;
                    border: 2px solid #e24f8c;
                    background: #e24f8c;
                  }
                }
              }
            }

            .song-title-container {
              @include flexCenter(100%, 74%, 0, flex-start, center, row);

              .song-title_shadow-div-outset {
                @include flexCenter(80%, 97.5%, .5vh .5vh 4vh .5vh, center, center, column);
                box-shadow: 3px 3px 4px #494949, -2px -2px 3px 0px #e9e9e9;

                .song-title_shadow-div-inset {
                  @include flexCenter(49%, 96%, 0.5vh 4vh 4vh 0.5vh, flex-start, center, row);
                  box-shadow: inset 2px 2px 2px #5d5d5d, inset -2px -2px 2px #cbcbcb;
                  overflow-x: scroll;
                  position: relative;

                  #one {
                    display: flex;
                    align-items: center;
                    margin-left: 5px;
                    font-size: 16px;
                    color: white;
                    font-weight: bold;
                    white-space: nowrap;
                    overflow-x: scroll;
                  }

                  #two {
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    padding-left: 6px;
                    font-size: 14px;
                    color: #e0bbbb;
                    
                    img {
                      height: 5px;
                      width: 5px;
                      margin-left: 5px;
                      margin-right: 5px;
                      filter: invert(85%) sepia(8%) saturate(859%) hue-rotate(314deg) brightness(100%)
                        contrast(76%);
                    }
                  }
                }

                .song-caption-container {
                  @include flexCenter(35%, 100%, 50px, flex-start, center, row);

                  .song-date {
                    display: flex;
                    flex-direction: row;
                    margin-left: 7px;
                    white-space: nowrap;
                    text-align: left;
                    color: #e0bbbb;
                    font-size: 11px;

                    img {
                      height: 5px;
                      width: 5px;
                      margin-left: 4px;
                      margin-top: 4px;
                      filter: invert(85%) sepia(8%) saturate(859%) hue-rotate(314deg) brightness(100%)
                        contrast(76%);
                    }
                  }

                  .song-caption {
                    white-space: nowrap;
                    text-align: left;
                    color: #e0bbbb;
                    font-size: 11px;
                    padding-left: 8px;
                    overflow-x: scroll
                  }
                }
              }
            }
          }
        }

        .song-play-section {
          @include flexCenter(47%, 100%, 0, center, center, row);

          .play-song-container {
            @include flexCenter(100%, 22%, 0, center, center, row);

            .play-btn-container {
              @include flexCenter(88%, 89%, 0.5vh 4.2vh 4.2vh 5vh, center, center, row);
              box-shadow: inset 2px 3px 2px #424242, inset -2px -3px 3px 0px #adadad;

              .play-btn-container-2 {
                @include flexCenter(78%, 82%, 0.5vh 4vh 4vh 5vh, flex-end, center, row);
                box-shadow: 1px 2px 3px #3c3c3c, -1px -2px 3px 0px #c9c9c9;

                .play-btn_inset-container {
                  @include flexCenter(100%, calc(100vh * .06), 0, center, center, row);

                  .play-btn_shadow-div-inset {
                    @include flexCenter(5.2vh, 5.2vh, 100vh, center, center, row);
                    box-shadow: inset 2px 2px 2px #484848, inset -2px -2px 2px 0px #a1a1a1;
  
                    button.play-btn_shadow-div-outset {
                      @include flexCenter(74%, 74%, 100vh, center, center, row);
                      box-shadow: 2px 2px 3px #464646, -1px -1px 2px 0px #b7b7b7;
                      background: #e24f8c;
  
                      img {
                        height: 85%;
                        width: 85%;
                        filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(293deg) brightness(107%) contrast(103%);
                      }
                      img.bi-play {
                        margin-left: 10%;
                      }
                      img.bi-pause {
                        margin-left: 3%;
                      }
                      &:active {
                        box-shadow: none;
                      }
                    }
  
                    &:active {
                      box-shadow: inset 3px 3px 3px #4c4c4c, inset -2px -2px 3px 0px #a3a3a3;
                      transition: all .2s ease-out;
                      .play-btn_shadow-div-inset {
                        box-shadow: none;
                      }
                    }
                  }
                }
              }
            }
          }

          .play-bar-container {
            @include flexCenter(100%, 78%, 0, center, flex-start, column);

            .play-bar_shadow-div-inset {
              @include flexCenter(85%, 98%, 5vh 5vh 0.5vh 5vh, center, center, column);
              box-shadow: inset 3px 3px 3px #444444, inset -2px -2px 3px 0px #b1b1b1;

              .play-slider_shadow-div-inset {
                @include flexCenter(75%, 95%, 100vh, center, center, column);
                box-shadow: 3px 3px 3px #424242, -2px -2px 2px 0px #a5a5a5;

                input[type="range"] {
                  appearance: none;
                  height: 35%;
                  width: 92%;
                  border-radius: 50px;
                  box-shadow: inset 2px 2px 2px 0px #424141, inset -1px -1px 2px #e8e4e4;
                }
                input[type="range"]::-webkit-slider-thumb {
                  appearance: none;
                  height: 20px;
                  width: 10px;
                  border-radius: 5px;
                  cursor: pointer;
                  background: #767676;
                  transition: background-color 1s ease;
                  box-shadow: inset 1px 1px 1px 0px #c2c2c2, inset -1px -1px 1px #222222;
                }

                .time-text-container {
                  @include flexCenter(35%, 88%, 0, space-between, center, row);
                  
                  .time-text-start {
                    font-size: 10px;
                    color: white;
                  }
                  .time-text-end {
                    font-size: 11px;
                    color: white;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/* ------------------------------ Comment Pop Up menu ------------------------------------------*/
.comment-pop-out {
  @include flexCenter(0%, 100%, 31px 31px 0px 0px, flex-start, center, column);
  background: linear-gradient(0deg, #a09e9e 0%, #b9b9b9 100%);
  position: absolute;
  bottom: 33%;
  z-index: 1;
  transition: height 0.5s ease-out;

  .inner-com {
    @include flexCenter(84%, 96%, 25px 25px 5px, flex-start, center, column);
    box-shadow: 2px 3px 4px #414141, -2px -2px 3px #ffffff;
    margin-top: 2%;

    .com-cont-1 {
      @include flexCenter(15%, 100%, 0px, center, center, row);
      opacity: 0;

      .social-comment-form {
        @include flexCenter(77%, 96%, 20px, space-evenly, center, row);
        box-shadow: inset 2px 2px 3px #505050, inset -2px -2px 2px #ffffff;

        .social-input-container {
          @include flexCenter(100%, 83%, 0, flex-end, center, row);

          .social-comment-input {
            opacity: 0;
            font-family: inherit;
            font-size: 1em;
            height: 70%;
            width: 94%;
            border-radius: 20px;
            border: none;
            padding-left: 3%;
            background: #686a6b;
            box-shadow: inset 2px 2px 3px #444444, inset -2px -2px 2px #ffffff;
  
            &:defined {
              color: pink;
            }
            &::placeholder {
              color: #adadad;
            }
            &:focus {
              border: 2px solid pink;
              outline: none !important;
              color: white;
              border-radius: 20px;
            }
          }
        }

        .comment-btn-container {
          @include flexCenter(100%, 17%, 0px, center, center, row);

          .comment-button {
            @include flexCenter(77%, 78%, 30px, center, center, row);
            box-shadow: 2px 2px 3px #373737, -2px -1px 2px #e7e7e7;
            opacity: 0;
            background: #ec6aa0;
          }
        }
      }
    }

    .com-cont-2 {
      @include flexCenter(85%, 100%, 25px, center, center, column);
      opacity: 0;

      // .comments-title {
      //   height: 8%;
      //   width: 96%;

      //   .comments-title-inner {
      //     @include flexCenter(88%, 100%, 21px, center, center, row);
      //     box-shadow: 2px 2px 4px #555555, -2px -2px 4px #dbdbdb;

      //     p {
      //       font-weight: bold;
      //       color: #5b5b5b;
      //     }
      //   }
      // }

      .comments-container {
        @include flexCenter(100%, 100%, 21px, center, center, row);

        .comment-list-container {
          @include flexCenter(97%, 98%, 15px 15px 5px 24px, center, center, column);
          background: linear-gradient(313deg, #383737, #767676);
          box-shadow: inset 2px 2px 3px #3d3f3f, inset -2px -3px 2px #ffffff;

          .comment-list-cont {
            @include flexCenter(98%, 100%, 15px 15px 5px 24px, flex-start, center, column);
            overflow-y: scroll;

            .comment-list {
              width: 96%;
              border-radius: 11px;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              margin-top: 1%;
              box-shadow: inset 2px 2px 4px #313131, inset -2px -2px 3px #777777;
  
              .comment-list-inner {
                @include flexCenter(auto, 100%, 0px, space-evenly, flex-start, row);

                .comment-list-photo {
                  @include flexCenter(98%, 22%, 0px, center, flex-start, row);
                  padding-top: 1.5%;
    
                  .comment-photo-inner {
                    @include flexCenter(4em, 82%, 9px 30px 30px 4px, center, center, column);
                    box-shadow: inset 2px 2px 3px #353535, inset -2px -2px 3px #9d9d9d;
    
                    .comment-photo-outer {
                      @include flexCenter(80%, 80%, 50px, center, center, row);
                      box-shadow: 2px 2px 3px #3b3b3b, -2px -2px 2px #939292;
    
                      a {
                        @include flexCenter(90%, 90%, 50px, center, center, row);
                        overflow: hidden;
                        object-fit: contain;
    
                        img {
                          height: 100%;
                          width: 100%;
                        }
                      }
                    }
                  }
                }

                .comment-text-container {
                  @include flexCenter(auto, 78%, 0, center, flex-start, column);

                  .comment-list-outer {
                    @include flexCenter(auto, 97%, 22px 5px 30px 5px, center, center, column);
                    box-shadow: 2px 2px 3px #2f2f2f, -2px -2px 2px #989898;
                    margin-top: 3%;

                    .comment-username {
                      height: 15px;
                      width: 90%;
                      font-size: 1.1rem;
                      color: #ec6aa0;
                      font-weight: bold;
                      text-align: start;
                      margin: 1% 0% 1% 0%;
                    }
                    .comment-date {
                      height: 15px;
                      width: 90%;
                      color: #efbfbf;
                      text-align: start;
                      margin-bottom: 2%;
                      p {
                        font-size: .8rem;
                      }
                    }
                    .comment-text {
                      height: fit-content;
                      width: 90%;
                      text-align: start;
                      color: white;
                      word-wrap: break-word;
                      font-size: 1rem;
                      line-height: 1;
                      margin-bottom: 5px;
                    }
                    .comment-text-input {
                      min-height: 15px;
                      border-radius: 5px 5px 15px 15px;
                      background: initial;
                      box-shadow: inset 2px 2px 3px #464646, inset -2px -2px 3px #9e9e9e;
                      width: 90%;
                      font-size: 13px;
                      padding: 3px;
                      text-align: start;
                      color: white;
                      word-wrap: break-word;
                      line-height: 1;
                      margin-bottom: 5px;
                      
                      &::placeholder {
                        color: rgb(155, 155, 155);
                        font-family: 'Roboto', sans-serif;
                      }
                      &:focus {
                        border: 2px solid pink;
                        outline: none !important;
                        color: white;
                        border-radius: 5px 5px 15px 15px;
                      }
                    }
                  }
                }
              }

              .comment-list-buttons {
                @include flexCenter(2.5em, 100%, 0, flex-start, center, row);
                margin: 2% 0% 2% 0%;

                .space-filler {
                  @include flexCenter(100%, 22%, 0, center, center, row);

                }
                .comment-btns-container {
                  @include flexCenter(100%, 78%, 0, flex-start, center, row);

                  .comment-btns_shadow-div-inset {
                    @include flexCenter(100%, 97%, 30px 5px 15px 30px, flex-start, center, row);
                    box-shadow: inset 2px 2px 4px #2b2b2b, inset -2px -2px 2px #858484;

                    .action-buttons-container {
                      @include flexCenter(100%, 40%, 0px, center, center, row);
                      margin-left: 2%;

                      .action-btn_shadow-div-outset {
                        @include flexCenter(68%, 95%, 4px, center, center, row);
                        box-shadow: 2px 2px 3px #353535, -2px -2px 2px #858585;

                        .action-btn-icon-container {
                          @include flexCenter(100%, 32%, 0, center, center, row);
                          // box-shadow: 2px 2px 3px #3d3f3f, -2px -2px 3px #939597;

                          img.comment {
                            height: 1rem;
                          }
                          img.heart {
                            height: 1.3rem;
                          }
                          img.edit {
                            height: 1.4rem;
                          }
                          img.delete {
                            height: 1.6rem;
                          }
                        }

                        .action-btn-text-container {
                          @include flexCenter(100%, 68%, 0, center, center, row);
  
                          p {
                            @include flexCenter(100%, 50%, 0, center, center, row);
                            font-weight: bold;
                            font-size: .8rem;
                            color: white;
                          }
                          p.like-number {
                            color: pink;
                            font-size: .75rem;
                          }
                          p.reply-text {
                            width: 60%;
                          }
                          p.reply-number {
                            width: 40%;
                            color: pink;
                            font-size: .75rem;
                          }
                          p.edit-delete-text {
                            justify-content: flex-start;
                            width: 100%;
                          }
                        }

                        .action-btn-icon-container.edit-delete {
                          width: 40%;
                        }
                        .action-btn-text-container.edit-delete {
                          width: 60%
                        }
                        &:active {
                          background: #606060;
                          box-shadow: inset 2px 2px 3px #353535, inset -2px -2px 2px #858585;
                        }
                      }

                      .comment-like-btn-pressed {
                        box-shadow: 2px 2px 3px #3e2c33, -2px -2px 2px #ffcae0;
                        background: #ec6aa0;
          
                        .action-btn-icon-container {
                          img {
                            filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(293deg) brightness(107%) contrast(103%);
                          }
                        }
                        
                        &:active {
                          background: #606060;
                          box-shadow: inset 2px 2px 3px #353535, inset -2px -2px 2px #858585;
                          transition: all .3s ease-in;
                        }
                      }
                    }
                    .clc-2 {
                      justify-content: flex-start;
                    }

                    .comment-popout-container {
                      @include flexCenter(auto, 30%, 8px, flex-start, center, row);
                      box-shadow: 0px 0px 0px #686a6b, 0px 0px 0px #686a6b;
                      position: relative;

                      .clc-3,
                      .clc-4 {
                        opacity: 0;
                        .clb-3,
                        .clb-4 {
                          @include flexCenter(26px, 26px, 50px, center, center, row);
                        }
                      }
                      .dot-menu {
                        @include flexCenter(100%, 30px, 0px, center, center, column);
                        position: absolute;
                        right: 11px;

                        .dots {
                          height: 9px;
                          width: 9px;
                          border-radius: 50px;
                          box-shadow: inset 2px 2px 1px #3b3b3b, inset -2px -2px 1px #949292;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/* --- Comment tweaks for SongScreen menu --- */
.comment-popped {
  height: 53%;
  transition: all .3s ease-in;
  .inner-com {
    opacity: 1;
    transition: opacity .2s .2s;
    .com-cont-1 {
      opacity: 1;
      .social-comment-form {
        .social-input-container {
          .social-comment-input {
            opacity: 1;
          }
        }
        .comment-btn-container {
          .comment-button {
            opacity: 1;
            transition: all .5s;
          }
        }
      }
    }
    .com-cont-2 {
      opacity: 1;
    }
  }
}
.comment-menu-down {
  height: 8%;
  border-radius: 31px 0px 0px 0px;
  opacity: 0;
  transition: height .5s ease-in, border-radius .5s ease-in, opacity .1s .5s;
  .inner-com {
    opacity: 0;
    transition: opacity .2s;
    .com-cont-1 {
      opacity: 0;
      transition: opacity .2s;
    }
    .com-cont-2 {
      .comments-title {
        opacity: 0;
        transition: opacity .2s;
      }
    }
  }
}

.songScreen-pop-out {
  bottom: 40%;
  justify-content: flex-start;
  .inner-com {
    height: 85%;
    margin-top: 2%;
  }
}
.songScreen-popped {
  height: 44%;
  transition: all .3s ease-in;
  .inner-com {
    .com-cont-1 {
      opacity: 1;
      .social-comment-form {
        .social-input-container {
          .social-comment-input {
            opacity: 1;
          }          
        }
        .comment-btn-container {
          .comment-button {
            opacity: 1;
            transition: all .5s;
          }
        }
      }
    }
    .com-cont-2 {
      opacity: 1;
    }
  }
}
.transitions {
  background: #efbfbf;
  box-shadow: inset 3px 3px 4px #bd9797, inset -3px -3px 4px #ffe7e7;
  border: 2px solid #df56a0;
}
