@keyframes smallScale {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.6);
    opacity: 0;
  }
}

.Record {
  position: absolute;
}

.record__transcript-lyrics {
  @include flexCenter(30%, 100%, 0px, space-evenly, center, column);
  background: linear-gradient(323deg, #262626 0%, #474646 100%);

  .record__lyrics--container {
    @include flexCenter(80%, 100%, 0, center, flex-start, row);

    .record__lyrics {
      @include flexCenter(96%, 96%, 0.3em 0.3em 1em 1em, center, flex-start, row);
      box-shadow: inset 2px 2px 2px #222222, inset -2px -2px 2px #484848;
      margin-top: 2%;

      .record__lyrics-list {
        @include flexCenter(93%, 96%, 0.3em 0.3em 0.7em 0.7em, flex-start, stretch, column);
        margin-top: 2%;
        overflow-y: scroll;

        .record__lyrics-item {
          @include flexCenter(initial, 99%, 0.5em 1.3em 1.3em 0.5em, flex-start, flex-start, row);
          box-shadow: inset 1px 1px 3px #020202fc, inset -1px -1px 2px #6d6d6d;
          background: #282828;
          padding: 0.75%;
          margin-bottom: 1%;

          .record__item-num {
            @include flexCenter(100%, 4%, 0, center, center, row);

            .record__item-num-text {
              color: #6e6e6e;
              font-size: 0.65rem;
            }
          }

          .record__item-words {
            @include flexCenter(initial, 95%, 0, flex-start, flex-start, row);
            flex-wrap: wrap;
            margin-left: 1%;

            .record__item-words-text {
              @include flexCenter(auto, auto, 0, center, center, row);
              color: white;
              font-size: 0.8rem;
              line-height: 1.1;
              padding: 0em 0.3em 0em 0em;
            }
            .record__item-words-text.initial-prompt {
              color: #b4b4b4;
              font-size: 0.9rem;
              width: 100%;
              text-align: center;
            }
          }
        }
      }
    }
  }
  .record__transcript--container {
    @include flexCenter(20%, 100%, 0, center, center, row);

    .record__transcript {
      @include flexCenter(78%, 96%, 100vh, center, center, row);
      box-shadow: inset 2px 2px 3px #222222fc, inset -2px -2px 3px #5d5d5ddb;
      overflow: scroll;

      .record__transcript-text {
        height: 90%;
        width: 93%;
        text-align: start;
        overflow-y: scroll;
        color: #3ad3b9;
        font-size: 0.9rem;
        font-weight: bold;
      }
    }
  }
}

.record__rhyme-actions {
  height: 70%;
  background: linear-gradient(323deg, #4b4b4b 0%, #757575 100%);

  .rhyme-actions {
    @include flexCenter(35%, 100%, 0vh 0vh 3.5vh 3.5vh, space-evenly, center, column);
    position: absolute;
    background: linear-gradient(314deg, #858585 0%, #a7a7a7 100%);
    z-index: 1;
    box-shadow: 0px 5px 13px 5px #2a2a2a;

    .rhyme-actions__bar.continuous-rhymes {
      height: 7%;
      align-items: center;
      border-radius: 2em 2em 0.5em 2em;
      box-shadow: inset 2px 2px 2px 0px #994d6c, inset -2px -2px 2px #ffcee2;
      border: 2px solid #cdcdcd;
      background: #e37da8;

      .rhyme-actions__action-rhyme {
        @include flexCenter(90%, 96%, 20px, flex-start, center, row);
        width: 96%;
        overflow-x: scroll;

        .rhyme-actions__action-rhyme-text {
          @include flexCenter(initial, initial, 0px, center, center, row);
          color: #40ffcd;
          font-size: 0.85rem;
          padding: 0em 0.15em;
          span {
            height: 100%;
            margin: 0em 0.15em 0em 0em;
          }
        }
        .rhyme-actions__action-rhyme-text.initial-prompt {
          color: #585858;
        }
      }
    }

    .rhyme-actions__bar {
      @include flexCenter(22%, 96%, 1em 0.3em 1.7em 0.2em, center, flex-start, row);
      box-shadow: inset 2px 2px 2px 0px #5c5c5c, inset -2px -2px 3px #d4d4d4;

      .rhyme-actions__rhymes--container {
        @include flexCenter(100%, 83%, 0, space-evenly, flex-start, column);

        .rhyme-actions__header {
          @include flexCenter(45%, 100%, 0, flex-start, flex-end, row);

          .rhyme-actions__header--shadow-inset {
            @include flexCenter(67%, 60%, 2.5em 2em 2em 0.5em, flex-start, center, row);
            box-shadow: inset 2px 2px 2px #8b4663, inset -2px -2px 2px #f5b0cc;
            border: 2px solid #c7c7c7;
            background: #ec6aa0;
            padding-left: 4%;
            margin-left: 2%;

            .rhyme-actions__header-text {
              color: white;
              font-size: 0.85rem;
              font-weight: bold;
              letter-spacing: 0.5px;
            }
          }
        }

        .rhyme-actions__suggestions--container {
          @include flexCenter(55%, 100%, 5px 20px 20px 5px, center, flex-start, row);
          overflow-x: scroll;

          .rhyme-actions__suggestions {
            @include flexCenter(90%, 94%, 0px, flex-start, center, row);
            flex-wrap: wrap;
            position: relative;
            overflow: hidden;

            .rhyme-actions__suggestions-text {
              @include flexCenter(10px, initial, 0px, center, center, row);
              color: #ffb9d6;
              font-size: 0.85rem;
              line-height: 1;
              font-weight: bold;
              padding: 0em 0.25em 0em 0em;
            }
            .rhyme-actions__suggestions-text.initial-prompt {
              color: #585858;
              text-align: start;
              font-weight: normal;
            }
          }
        }
      }

      .rhyme-actions__btn--container {
        @include flexCenter(100%, 17%, 0, flex-end, center, row);

        .rhyme-actions__btn--shadow-outset {
          @include flexCenter(80%, calc(100vh * 0.06), 3em 0.3em 3em 3em, center, center, row);
          box-shadow: 2px 2px 3px #5e5e5e, -2px -2px 2px #d3d3d3;
          margin-right: 10%;

          .rhyme-actions__btn--shadow-inset {
            @include flexCenter(88%, 88%, 100vh, center, center, row);
            box-shadow: inset 2px 2px 2px 0px #5e5e5e, inset -2px -2px 3px #d3d3d3;

            .rhyme-actions__btn {
              @include flexCenter(73%, 73%, 100vh, center, center, row);
              background-color: #ec6aa0;
              box-shadow: 2px 2px 2px 0px #5e5e5e, -1px -1px 2px #e9e9e9;

              img {
                height: 70%;
                width: 70%;
                filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(293deg) brightness(107%)
                  contrast(103%);
              }

              &:hover {
                background: #e24f8c;
              }
              &:active {
                height: 80%;
                width: 80%;
                background-color: #ec6aa0;
                box-shadow: inset 2px 2px 3px 0px #464545, inset -2px -2px 3px #c7c7c7;

                img {
                  filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(293deg) brightness(107%)
                    contrast(103%);
                }
              }
            }
          }
        }
      }
    }

    .interactions__options--container {
      @include flexCenter(17%, 100%, 0, center, center, row);

      .interactions__options--shadow-inset {
        @include flexCenter(95%, 97%, 2em, center, center, row);
        box-shadow: inset 2px 2px 2px 0px #5c5c5c, inset -2px -2px 3px #d4d4d4;

        .interactions__btn--container {
          @include flexCenter(100%, 32%, 0, center, center, row);

          .interactions__btn--shadow-outset {
            @include flexCenter(75%, 90%, 0.3em, center, center, row);
            background-color: #ec6aa0;
            box-shadow: 2px 2px 2px 0px #5e5e5e, -1px -1px 2px #e9e9e9;
            color: white;

            .interactions__btn-icon--container {
              @include flexCenter(100%, 3em, 0, center, center, row);

              .interactions__btn-icon--shadow-inset {
                @include flexCenter(75%, 75%, 0.2em, center, center, row);
                box-shadow: inset 2px 2px 2px 0px #8b4562, inset -2px -2px 2px #fda6ca;

                img {
                  height: 85%;
                  width: 85%;
                  filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(293deg) brightness(107%)
                    contrast(103%);
                }
              }
            }
            .interactions__btn-text {
              @include flexCenter(100%, 70%, 0, flex-start, center, row);
              font-size: 0.9rem;
            }

            &:active {
              box-shadow: none;
            }
            &:hover {
              background: #e24f8c;
            }
          }
        }

        .interactions__btn--container.rhyme-num {
          width: 33%;
          justify-content: flex-end;
          .interactions__btn--shadow-outset {
            border-radius: 2em 0.2em 0.2em 2em;
            width: 97%;
            .interactions__btn-icon--container {
              .interactions__btn-icon--shadow-inset {
                img {
                  height: 70%;
                  width: 70%;
                }
              }
            }
          }
        }

        .interactions__btn--container.edit-lyrics {
          width: 33%;
          justify-content: flex-start;
          .interactions__btn--shadow-outset {
            border-radius: 0.2em 2em 2em 0.2em;
            width: 97%;
          }
        }
      }
    }
  }
}

.section-2b_flow-controls {
  @include flexCenter(39%, 100%, 0px, center, flex-start, row);
  position: absolute;
  bottom: 0;

  .flow-controls-container {
    @include flexCenter(55%, 96%, 0.7vh, center, center, column);
    box-shadow: inset 3px 3px 3px 0px #343434, inset -3px -3px 4px #929292;
    position: absolute;
    bottom: 30%;

    .flow-controls-1_playback-display {
      @include flexCenter(30%, 100%, 0px, center, flex-end, row);
      position: relative;

      .play-btn-container {
        @include flexCenter(100%, 17%, 50px, center, flex-end, row);

        .play-btn-container_shadow-div-outset {
          @include flexCenter(85%, 84%, 5vh 0.2vh 0.2vh 5vh, flex-end, center, row);
          box-shadow: 3px 3px 5px #2c2c2c, -2px -2px 2px 0px #a0a0a0;

          .play-btn-container_shadow-div-inset {
            @include flexCenter(84%, 85%, 5vh 0.2vh 0.2vh 5vh, flex-start, center, row);
            box-shadow: inset 2px 2px 3px 0px #242424, inset -2px -2px 3px #a3a3a3;
            margin-right: 8.5%;

            .play-btn_shadow-div-outset {
              @include flexCenter(77%, calc(100vh * 0.035), 100vh, center, center, row);
              text-align: center;
              font-weight: bold;
              background: #ec6aa0;
              margin-left: 13%;
              box-shadow: 2px 2px 3px #393939, -1px -1px 2px #dedede;

              img {
                height: 85%;
                width: 85%;
                filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(293deg) brightness(107%)
                  contrast(103%);
              }
              &:hover {
                background: #e24f8c;
              }
              &:active {
                box-shadow: inset 2px 2px 3px #313232, inset -2px -2px 3px #9fa2a4;
              }
            }
          }
        }
      }

      .play-slider-container {
        @include flexCenter(100%, 81%, 0px, center, flex-end, row);

        .play-slider-container_shadow-div-outset {
          @include flexCenter(85%, 97%, 8px 50px 50px 8px, center, center, row);
          box-shadow: 3px 3px 5px #282828, -1px -2px 3px 0px #c6c6c6;

          .play-slider-container_shadow-div-inset {
            @include flexCenter(84%, 97%, 8px 50px 50px 8px, center, center, row);
            box-shadow: inset 2px 2px 3px 0px #262626, inset -2px -2px 3px #b5b5b5;

            .play-slider_shadow-div-outset {
              @include flexCenter(70%, 95%, 8px 50px 50px 8px, center, center, column);
              box-shadow: 3px 3px 3px #323232, -2px -2px 2px 0px #a2a2a2;

              .play-slider_shadow-div-inset {
                @include flexCenter(
                  100%,
                  100%,
                  8px 50px 50px 8px,
                  space-evenly,
                  flex-start,
                  column
                );

                input[type='range'] {
                  appearance: none;
                  height: 46%;
                  width: 94%;
                  margin-left: 1%;
                  border-radius: 50px;
                  box-shadow: inset 2px 2px 3px 0px #161616, inset -2px -2px 3px #808080;
                }
                input[type='range']::-webkit-slider-thumb {
                  appearance: none;
                  height: 20px;
                  width: 20px;
                  border-radius: 50px;
                  cursor: pointer;
                  background: #4b4b4b;
                  transition: background-color 1s ease;
                  box-shadow: inset 1px 1px 1px 0px #9b9b9b, inset -1px -1px 1px #222222;
                }

                .time-text-container {
                  @include flexCenter(25%, 90%, 8px, space-between, center, row);
                  padding: 0% 3%;

                  .time-text-start {
                    font-size: 10px;
                    color: white;
                  }
                  .time-text-end {
                    font-size: 11px;
                    color: white;
                  }
                }
              }
            }
          }
        }
      }
    }

    .flow-controls-2_actions {
      @include flexCenter(70%, 100%, 0px, center, center, column);

      .actions-container_shadow-div-outset {
        @include flexCenter(88%, 96%, 4.4vh 4.4vh 0.5vh 0.5vh, center, center, column);
        box-shadow: 3px 3px 5px #202020, -2px -2px 2px 0px #808080;

        .actions-container_shadow-div-inset {
          @include flexCenter(92%, 97.5%, 4vh 4vh 0.4vh 0.4vh, space-evenly, center, column);
          box-shadow: inset 2px 2px 3px 0px #252424, inset -3px -3px 4px #8d8d8d;

          .actions-1_flow-takes {
            @include flexCenter(50%, 100%, 0px, space-between, center, row);

            .flow-takes-1_select-takes {
              @include flexCenter(96%, 65%, 0px, center, center, row);

              .select-takes-container_shadow-div-outset {
                @include flexCenter(79%, 94%, 14.5vh 10vh 10vh 0vh, center, center, row);
                box-shadow: 2px 2px 2px #383838, -2px -2px 2px 0px #858585;

                .select-takes-container {
                  @include flexCenter(80%, 95.7%, 15.5vh 10vh 10vh 0.5vh, center, flex-end, column);
                  box-shadow: inset 3px 3px 3px 0px #323232, inset -2px -2px 2px #acacac;
                  margin-right: 1%;

                  .select-takes_shadow-div-inset {
                    @include flexCenter(65%, 90%, 100vh, center, center, column);
                    box-shadow: 3px 3px 5px #282828, -2px -2px 2px 0px #8c8c8c;
                    margin-right: 3%;

                    .select-takes_shadow-div-outset {
                      @include flexCenter(100%, 91%, 30px, center, center, column);
                      color: white;
                    }
                    &:active {
                      background: #787878;
                      box-shadow: inset 2px 2px 3px 0px #313131, inset -2px -2px 2px #a7a7a7;
                    }
                    &:hover {
                      background: #787878;
                      box-shadow: 2px 2px 3px 0px #262626, -2px -2px 2px #b1b1b1;
                    }
                  }

                  .select-takes-title {
                    @include flexCenter(30%, 100%, 50px, flex-start, center, row);
                    color: pink;
                    font-size: 12px;
                    margin-left: 4%;
                  }
                }

                .edit-takes-container_shadow-div-inset {
                  @include flexCenter(81%, 22%, 50px, center, center, row);
                  box-shadow: inset 2px 2px 3px 0px #4c4b4b, inset -3px -3px 4px #929191;

                  .edit-takes-btn_shadow-div-outset {
                    @include flexCenter(70%, 70%, 50px, center, center, row);
                    box-shadow: 3px 3px 5px 0px #464545, -2px -2px 3px #aeaeae;

                    img {
                      height: 1.5em;
                      width: 1.5em;
                    }
                  }
                }
              }
            }

            .flow-takes-2_takes-actions {
              @include flexCenter(100%, 33%, 50px, flex-start, center, row);
              margin-right: 1%;

              .takes-actions-container {
                @include flexCenter(83%, 90%, 50px, space-evenly, center, row);

                .actions-btn-container {
                  @include flexCenter(95%, 39%, 50%, center, center, row);
                  box-shadow: inset 2px 2px 3px 0px #2a2a2a, inset -2px -2px 2px #a0a0a0;

                  .actions-btn_shadow-div-outset {
                    @include flexCenter(73%, 73%, 50%, center, center, row);
                    text-align: center;
                    font-weight: bold;
                    box-shadow: 2px 2px 3px #313131, -1px -1px 2px #b5b5b5;

                    img {
                      height: 1.5em;
                      width: 1.5em;
                    }

                    &:active {
                      box-shadow: none;
                    }
                  }
                  .ab-save {
                    background: #ec6aa0;

                    img {
                      filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(293deg)
                        brightness(107%) contrast(103%);
                    }
                    &:hover {
                      background: #e24f8c;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .record-2_record-btn {
    @include flexCenter(3.2em, 3.2em, 100vh, flex-end, center, row);
    position: absolute;
    z-index: 3;
    right: 3%;
    bottom: 28%;
    box-shadow: -1px 5px 5px #0000005c;

    .record-btn_shadow-div-inset {
      @include flexCenter(100%, 100%, 100vh, center, center, row);

      .record-btn_shadow-div-outset {
        @include flexCenter(98%, 98%, 100vh, center, center, row);
        background: #63debc;
        box-shadow: inset 2px 2px 2px 0px #d6fff4, inset -1px -1px 2px #299374;
        border: 1px solid #4b9c86;

        img {
          height: 2.1em;
          width: 2.1em;
          filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(293deg) brightness(107%)
            contrast(103%);
        }
        &:hover {
          background: #2ab58e;
          box-shadow: inset 2px 2px 2px 0px #8cebd3, inset -1px -1px 2px #216c56;
        }
      }
    }
    &:active {
      height: 3em;
      width: 3em;
    }
  }
  .record-2_record-btn--animation-div {
    @include flexCenter(3.2em, 3.2em, 100vh, flex-end, center, row);
    position: absolute;
    z-index: 2;
    right: 3%;
    bottom: 28%;
    opacity: 0;
    box-shadow: -1px 5px 5px #0000005c;
  }
  .record-btn-animation {
    opacity: 1;
    background: #00ffba;
    animation: smallScale 1s infinite;
  }
}

.actions-2_record {
  @include flexCenter(50%, 100%, 0px, center, flex-start, row);

  .record-container {
    @include flexCenter(89%, 96%, 1.2vh 10vh 10vh 11.5vh, space-between, center, row);
    box-shadow: 3px 3px 5px #1d1d1d, -2px -2px 2px 0px #939393;

    .record-1_select-beat {
      @include flexCenter(100%, 65%, 0px, space-evenly, center, column);

      .select-beat_shadow-div-inset {
        @include flexCenter(85%, 97%, 2vh 10vh 10vh 12.5vh, flex-end, center, row);
        box-shadow: inset 3px 3px 3px 0px #2c2c2c, inset -2px -2px 2px #9c9c9c;

        .select-beat_play-container {
          @include flexCenter(100%, 16%, 0, flex-start, center, row);

          .select-beat_play-btn {
            @include flexCenter(
              calc(100vh * 0.031),
              calc(100vh * 0.031),
              100vh,
              center,
              center,
              row
            );
            box-shadow: 2px 2px 3px 0px #262626, -1px -1px 2px #cfcece;
            background: #ec6aa0;

            img {
              height: 80%;
              width: 80%;
              filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(293deg) brightness(107%)
                contrast(103%);
            }
            .play {
              margin-left: 3px;
            }
            &:hover {
              background: #e24f8c;
            }
            &:active {
              box-shadow: inset 2px 2px 3px #313232, inset -2px -2px 3px #9fa2a4;
            }
          }
        }
        .select-beat_container {
          @include flexCenter(100%, 84%, 0, flex-start, center, row);

          .select-beat_shadow-div-outset {
            @include flexCenter(70%, 91%, 100vh, center, center, row);
            box-shadow: 2px 2px 3px 0px #262626, -2px -2px 2px #8e8e8e;
            margin-left: 5%;

            .select-beat-title {
              @include flexCenter(100%, 27%, 0px, center, center, column);
              color: pink;
              font-size: 10px;
            }
            .track-select {
              @include flexCenter(100%, 73%, 0px, flex-start, center, row);
              font-size: 0.9rem;
              color: white;

              &:focus {
                outline: none !important;
              }
            }
            &:focus {
              background: #787878;
              box-shadow: inset 2px 2px 3px 0px #313131, inset -2px -2px 2px #a7a7a7;
            }
            &:hover {
              background: #787878;
              box-shadow: 2px 2px 3px 0px #262626, -2px -2px 2px #b1b1b1;
            }
            &:active {
              background: #787878;
              box-shadow: inset 2px 2px 3px 0px #313131, inset -2px -2px 2px #a7a7a7;
            }
          }
        }
      }
    }
  }
}
