* {
    margin: 0;
    padding: 0;
    font-size: 14px;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  html,
  body,
  #root,
  .App,
  .Home,
  .TestAudio,
  .EditLyrics,
  .Profile,
  .EditProfileScreen,
  .SongScreen,
  .Search,
  .LogIn {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
  }
  
  body, #root {
    position: relative;
  }
  
  .App {
    position: relative;
    text-align: center;
  }
  
  a {
    text-decoration: none
  }
  input, textarea, select, button { 
    font-family: inherit; 
    border: none;
    background: initial;
  }
  button {
    cursor: pointer;
  }
  
@media screen and (min-width: 500px) {
  html {
    background: #282727;
    margin: auto;
    height: 100vh;
    width: calc(100vh * .46);
    font-family: 'Roboto', sans-serif;
  }
}
